.footer{
    background-color: white;
    border-top: 1px solid rgb(231, 234, 236);
    padding: 10px 15px;
    text-align: left;
    font-size: 13px;

}

strong {
    color: #676a6c;
    font-weight: 700;
}
