<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>KINH NGHIỆM</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label (click)=" showModalDialog()" class="btn-primary "><i class="fa fa-plus"></i> Thêm mới</label>
    </div>
  </div>
</div>

<div *ngIf="(!loadData)">
  <div class="ibox-content" *ngFor="let extype of experienceType">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="panel-heading white-bg font-weight-bold">{{extype.name}}</div>
      </li>
      <li class="list-group-item panel-body">
        <nz-timeline  *ngFor="let ex of extype.resume_lines">
          <nz-timeline-item nzColor="gray">
            <div class="client-status">
              <span>{{ex.start_date| date }} - {{ex.end_date | date}}</span>
                <label class="btn-primary" (click)="showdialogupdate(ex.id)"><i class="fas fa-pencil-alt"></i> Sửa</label>
                <label class="btn-danger" (click)="displayDialogDelete(ex.id)"> <i class="fa fa-trash"></i> Xóa</label>
            </div>
            <h3>{{ex.name}}</h3>
            <span>{{ex.description}}</span>
          </nz-timeline-item>
        </nz-timeline>
      </li>
    </ul>
  </div>
</div>


<!-- loading -->
<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>

</ng-template>


<!-- dialog create experiences -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="displayBasic" nzTitle="THÊM KINH NGHIỆM" >
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lq-12">
          <div class="form-group">
            <label class="font-normal">Tiêu đề</label> <br>
            <input placeholder="Nhập Tiêu đề"
            [(ngModel)]="experienceCreate.name"
            [ngModelOptions]="{standalone: true}"
            class="form-control placeholder-color"
            type="text" pInputText />
          </div>
          <!-- *ngIf="(resumeLineType$|async) as resumeLineTypes" -->
          <div class="form-group">
            <label class="font-normal">Nhóm</label> <br>
            <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn nhóm"
                [(ngModel)]="experienceCreate.type_name"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onSelectedCreate($event)">
                <nz-option *ngFor="let option of ListRessumeLineType" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label class="font-normal">Ngày bắt đầu</label>
          <nz-date-picker
                placeholder="01/01/2000"
                [(ngModel)]="experienceCreate.start_date"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onSelectedStartdate($event)"
                appendTo="body">
            </nz-date-picker>
        </div>
        <div class="col-6 form-group ">
          <label class="font-normal">Ngày kết thúc</label>
            <nz-date-picker
                placeholder="01/01/2000"
                [(ngModel)]="experienceCreate.end_date"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onSelectedEnddate($event)"
                appendTo="body">
            </nz-date-picker>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="font-normal">Mô tả</label> <br>
            <textarea class="placeholder-color" placeholder="Nhập Mô tả" pInputTextarea
            [(ngModel)]="experienceCreate.description" [ngModelOptions]="{standalone: true}"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="row form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)=" closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="createResumeLine()">Thêm</label>
      </div>
  </div>
  </ng-container>
</nz-modal>

<!-- dialog update experiences -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="displayBasicupdate" nzTitle="CẬP NHẬT KINH NGHIỆM">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lq-12">
          <div class="form-group">
            <label class="font-normal">Tiêu đề</label> <br>
            <input [(ngModel)]="experienceUpdate.name" [ngModelOptions]="{standalone: true}"  class="form-control placeholder-color" type="text" pInputText />
          </div>
          <div class="form-group">
            <label class="font-normal">Nhóm</label> <br>
            <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn nhóm"
                [(ngModel)]="experienceUpdate.type_name"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onSelectedUpdate($event)">
                <nz-option *ngFor="let option of ListRessumeLineType" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label class="font-normal">Ngày bắt đầu</label>
          <nz-date-picker
            [(ngModel)]="startDate"
            [ngModelOptions]="{standalone: true}"
            (ngModelChange)="onSelectedStartdateUpdate($event)"
            placeholder="01/01/2000"
            appendTo="body">
          </nz-date-picker>
        </div>
        <div class="col-6 form-group ">
          <label class="font-normal">Ngày kết thúc</label>
          <nz-date-picker
            [(ngModel)]="endDate"
            [ngModelOptions]="{standalone: true}"
            (ngModelChange)="onSelectedEnddateUpdate($event)"
            placeholder="01/01/2000"
            appendTo="body">
          </nz-date-picker>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="font-normal">Mô tả</label><br>
            <textarea class="placeholder-color" pInputTextarea
            [(ngModel)]="experienceUpdate.description" [ngModelOptions]="{standalone: true}"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="row form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)=" closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="updateResumeLine()">Lưu Thay Đổi</label>
      </div>
  </div>
  </ng-container>
</nz-modal>

<!-- dialog delete experiences -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="deleteDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <p class="p-confirmation">Bạn có chắc chắn muốn xóa?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="deleteResume()" >Xóa</label>
    </div>
    </div>
  </ng-container>

</nz-modal>
