.header-ex{
  border-bottom: 0.5px solid rgba(0,0,0,.125);
  padding-left: 10px;
}

    .btn-primary {
      color: #fff !important;
      background-color: #34499d;
      border-color: #34499d;
      font-size: 0.7rem;
      font-weight: 400;
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      box-shadow: none;
      line-height: 1.2rem;
      float:right;
  }
  .btn-danger{
      color: #fff !important;
      font-size: 0.7rem;
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      font-weight: 400;
      line-height: 1.2rem;
      float:right;
      margin-right: 2px;
  }

    .btn-primary:hover, .btn-primary:focus {
        background-color: #0596F3;
        border-color: #0596F3;
        color: #FFFFFF;
    }


.panel-heading{
    color: rgb(49, 48, 48);
    font-size: 13px;
    font-weight: 700;
}

.ibox-content{
    background-color: #ffffff;
    color: inherit;
    padding: 10px 20px 10px 20px;
    border-color: #ffffff;
    .panel-heading{
        color:#333;
        font-size: 13px;
        font-weight: 700;
        margin: 0;
        padding: 0;

    }
    .panel-default {
        border-color: #e7eaec;
    }
    .panel-body{
        padding: 15px;
        color: inherit;
        h3{
          color:#676a6c;
          font-size: 16px;
          font-weight: 700;
          margin: 0;
          padding: 0;
          font-family: inherit;
        }
    }

}

span {
    font-size: 12px;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 478px;
    height: 463px;
}


:host ::ng-deep hr {
   margin-top: 0px;
}


 :host ::ng-deep .p-dialog .form-group {
     .form-control{
        height: 36px;
        width: 100%;
     }
     .group-button{
         display: flex;
         justify-content: center;
         align-items: center;
         .btn-white{
            margin-right: 10px;
            border: 1px solid #676a6c;
         }
     }
    padding-bottom: 10px;
  }

 :host ::ng-deep .p-dialog {
    border-radius: 3px;
    box-shadow: black;
    border: 1px solid;
    box-shadow: none;
    width: 480px;
    max-width: 490px;
    min-width: 490px;
    max-height: 600px;


 }
 .client-status button{
  float:right;
  margin: 1px;
}

.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
}

.group-button{
  text-align: center;
}

.btn-mar{
  margin-bottom: 8px;
}

.app-dropdown{
  width: 100%;
  height: 35px !important;
}

.card-body{
  padding:0px;
}
