<div class="menu-left">
  <div class="loading-spinner" *ngIf="loading$ | async">
    <app-loading></app-loading>
  </div>
  <div class="menu-content">
      <h5 class="li-title">VĂN PHÒNG</h5>
      <ul class="list-group">
          <li class="list-group-item">
              <a>
                <div><i class="fas fa-inbox"></i> Inbox</div>
                <span class="span-li-warning">16</span>
              </a>
          </li>
          <li class="list-group-item">
              <a><div><i class="fas fa-map-marker-alt text-padding"></i> Send Mail</div></a>
          </li>
          <li class="list-group-item">
              <a><div><i class="fas fa-certificate"></i> Important</div></a>
          </li>
          <li class="list-group-item">
            <a>
              <div><i class="far fa-file-alt"></i> Drafts</div>
              <span class="span-li-error">2</span>
            </a>
          </li>
          <li class="list-group-item">
            <a><div><i class="far fa-trash-alt"></i> Trash</div></a>
          </li>
      </ul>

      <h5 class="li-title">PHÒNG BAN</h5>
      <ul class="list-group">
        <li class="list-group-item">
            <a>
              <div><i class="fas fa-inbox"></i> Inbox</div>
              <span class="span-li-warning">16</span>
            </a>
        </li>
        <li class="list-group-item">
            <a><div><i class="fas fa-map-marker-alt text-padding"></i> Send Mail</div></a>
        </li>
        <li class="list-group-item">
            <a><div><i class="fas fa-certificate"></i> Important</div></a>
        </li>
        <li class="list-group-item">
          <a>
            <div><i class="far fa-file-alt"></i> Drafts</div>
            <span class="span-li-error">2</span>
          </a>
        </li>
        <li class="list-group-item">
          <a><div><i class="fas fa-tag"></i> Trash</div></a>
        </li>
      </ul>

      <h5 class="li-title">NHÓM</h5>
      <ul class="list-group">
        <li class="list-group-item list-group-item-2">
          <a><div><i class="fas fa-circle circle-i-blue"></i>  Work</div></a>
        </li>
        <li class="list-group-item list-group-item-2">
          <a><div><i class="fas fa-circle circle-i-pink"></i>  Documents</div></a>
        </li>
        <li class="list-group-item list-group-item-2">
          <a><div><i class="fas fa-circle"></i>  Social</div></a>
        </li>
        <li class="list-group-item list-group-item-2">
          <a><div><i class="fas fa-circle circle-i-green"></i>  Advertising</div></a>
        </li>
        <li class="list-group-item list-group-item-2">
          <a><div><i class="fas fa-circle circle-i-orange"></i>  Clients</div></a>
        </li>
      </ul>

      <h5 class="li-title">KỸ NĂNG</h5>
      <ul class="list-group tag-list">
        <li class="list-group-item tag-item">
          <a class="a-item"><div><i class="fas fa-tag"></i>  Family</div></a>
        </li>
        <li class="list-group-item tag-item">
          <a class="a-item"><div><i class="fas fa-tag"></i>  Work</div></a>
        </li>
        <li class="list-group-item tag-item">
          <a class="a-item"><div><i class="fas fa-tag"></i>  Home</div></a>
        </li>
        <li class="list-group-item tag-item">
          <a class="a-item"><div><i class="fas fa-tag"></i>  Children</div></a>
        </li>
        <li class="list-group-item tag-item">
          <a class="a-item"><div><i class="fas fa-tag"></i>  Holiday</div></a>
        </li>
      </ul>

  </div>

</div>
