.menu-left {
  height: 100%;
  .menu-content{
      height: 100%;
      width: 110%;
      text-align: left;
      background-color: #f9f9fa;

      // padding-left:10px;
  }

  .list-group-item{
    background-color: #f9f9fa;
    border: none;
    border-bottom: 1px solid #e7eaec;
    display: flex;
    align-items: center;

    i{
      color: #676a6c;
      display: inline-block;
      font-size: 8px !important;
      text-rendering: auto;
    }


  }

  .list-group-item-2{
    border: none !important;
    padding: .2rem 1rem !important;
  }

  .circle-i-pink{
    color: #ED5565 !important;
  }

  .circle-i-blue{
    color: #34499D !important;
  }

  .circle-i-green{
    color: #23C6C8 !important;
  }

  .circle-i-orange{
    color: #F8AC59 !important;
  }

  a{
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .li-title{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #666666;
    border-bottom: none!important;
  }
}

.tag-list{
  float: left;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;

}

.tag-item{
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid #e7eaec !important;
  background-color: #fff !important;
  padding: .2rem 1rem !important;

  .a-item{
    font-size: 10px;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.float-right{
  float: right !important;
}

.span-li-warning{
  font-size: 10px;
  color: #fff;
  background-color: #f8ac59;
  text-align: center;
  padding: 3px 8px;
  border-radius: 0.25rem;
  // margin-left: 180px;
}

.span-li-error{
  font-size: 10px;
  color: #fff;
  background-color: #ed5565;
  text-align: center;
  padding: 3px 8px;
  border-radius: 0.25rem;
  // margin-left: 180px;
}

.loading-spinner{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
