.footer-center{
  background: linear-gradient(to right, #ffffff, #ffffff) !important;
  width: 100%;
  height: 100px;
  padding-top: 12px;
  margin   : auto;

  .footer-wrapper-form{
    max-width: 1440px;
    height: 100%;
    margin: auto;
    height: auto;
  }
}

.center {
  background: linear-gradient(to right, #ffffff, #ffffff) !important;
  width     : 100%;
  height    : 680px;
  margin   : auto;

  .wrapper-form {
    max-width: 1440px;
    height   : 100%;
    margin   : auto;
    height   : auto;

    .form {

      height: 0;

      img.img-right {
        position: relative;
        width   : 525.68px;
        height  : 120.85px;
        left    : 18%;
        top     : 600px;
      }

      img.img-left {
        position: relative;
        left    : 41%;
        right   : 41.06%;
        top     : 578px;
        bottom  : 16.24%;
        width: 201px;
        height  : 126.81px;

      }

      .form-left {
        position     : relative;
        width        : 375px;
        height       : 607.3px;
        left         : 54%;
        top          : -300px;
        filter       : drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
        background   : rgba(255, 255, 255, 0.96);
        border-radius: 10px 10px 0 0;
      }

      .content {
        position: relative;
        width   : 462.51px;
        height  : 278.33px;
        left    : 24%;
        top     : 52.629px;

        hr {
          color: #FFFFFF;
        }

        .contain {
          margin-bottom: 30px;

          .content-right {
            margin-left: 102px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style : normal;
            font-weight: 300;
            font-size  : 13px;
            line-height: 20px;
            text-align : right;
            width      : 277.75px;
            height     : 29px;
            color      : #000000;

            span {
              font-style: italic;
              font-size : 14px;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
          }

          .icon {
            width           : 40px;
            height          : 40px;
            background-color: #FFF;
            border-radius   : 50%;
            float           : left;

          }
        }

      }
    }
  }
}

