
<div class="center">
  <div class="wrapper-form">
      <div class="form">
          <img class="img-right" src="/assets/images/people.png" alt="">

          <div class="content">
              <div class="contain">
                  <div class="icon"> <img src="/assets/images/dollar.png" alt=""></div>
                  <div class="content-right"> Save 48% on maintenance costs with AziCloud <br> <span>---- SmartWatt Case Study</span>
                  </div>
              </div>
              <div class="contain">
                  <div class="icon"><img src="/assets/images/text.png" alt=""></div>
                  <div class="content-right"> Reduce time spent on inspecction by 83% <br> <span>---- SmartWatt Case Study</span>
                  </div>
              </div>

              <div class="contain">
                  <div class="icon"> <img src="/assets/images/notebook.png" alt=""></div>
                  <div class="content-right"> Run fleet report 10x faster than before <br> <span>---- SmartWatt Case Study</span>
                  </div>
              </div>

              <hr>
              <div class="contain">
                  <div class="icon"><img class=" img-icon" src="/assets/images/avatar-women.png" alt=""></div>

                  <div class="content-right"> The wealth of feature provided by AziCloud forces us to be better at our jobs. Everything we need is at our fingertips <br> <span>---- Amer, Energy & Utilities</span>
                  </div>
              </div>
          </div>

          <div class="form-left">
              <!-- *ngIf="loaderService.isLoading$ | async" -->
              <div class="spinner" *ngIf="loading$ | async">
                <app-loading></app-loading>
              </div>
              <router-outlet></router-outlet>

          </div>

      </div>
  </div>
</div>
<div class="footer-center">
  <div class="footer-wrapper-form">
      <app-footer></app-footer>
  </div>

</div>



