<div class="column wrapper-container">
  <div class="container ">
    <app-experiences></app-experiences>
  </div>
  <br>
  <div class="container card">
    <app-skills></app-skills>
  </div>
  <br>
</div>
