
th{
  padding-bottom: 10px;
  padding-left:8px;
  font-size: 13px;

  color:rgb(95, 94, 94);

}
td{
  color:#676a6c;
  font-size: 13px;
  padding: 8px;
  padding-right:15px;
  align-items: flex-start;
  line-height: 1.42857;
}

.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
  float:none;
}
.group-button{
  text-align: center;
}
