<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>TÌNH TRẠNG SỨC KHỎE</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-primary" (click)="showDialog()"><i class="fa fa-plus"></i> Thêm mới</label>
    </div>
  </div>
</div>

<div *ngIf="(!loadData)">
  <div class="ibox-content">
    <div class="table-responsive">
      <table class="table table-hover">
          <tr style="border-bottom: 0.5px solid rgb(209, 206, 206);">
            <th>Ngày kiểm tra</th>
            <th>Tình trạng sức khỏe</th>
            <th>Chiều cao</th>
            <th>Cân nặng</th>
            <th>Nhóm máu</th>
            <th class="text-right"></th>
          </tr>
        <tbody>
          <tr *ngFor="let health of employeeHealths">
            <td>{{health.check_date}}</td>
            <td>{{health.status}}</td>
            <td> {{health.height}}</td>
            <td>{{health.weight}}</td>
            <td>{{health.blood_group}}</td>
            <td class="client-status text-right">

              <label class="btn-primary" (click)="dialogUpdate(health.id)"><i class="fas fa-pencil-alt"></i> Sửa</label>
              <label class="btn-danger" (click)="displayDialogDelete(health.id)"><i class="fa fa-trash"></i> Xóa</label>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- loading data -->
<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>

<!-- dialog create health-->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="display" nzTitle="THÊM LẦN ĐO SỨC KHỎE" [nzWidth]="766">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Chiều cao</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập chiều cao nhân viên"
                [(ngModel)]="employeeHealth.height"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Nhóm máu</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn nhóm máu"
                [(ngModel)]="employeeHealth.blood_group"
                (ngModelChange)="onChangeHealth($event)">
                <nz-option *ngFor="let option of ListBlood" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="column form-group" [style]="{'margin-bottom': '10px'}">
            <div>
              <label class="font-normal">Ngày kiểm tra gần nhất</label>
            </div>
            <div class="ui-grid-col-12">
              <nz-date-picker
                (ngModelChange)="onSelectDateCreate($event)"
                [(ngModel)]="selectedDate"
                placeholder="01/01/2000"
                appendTo="body"
                ></nz-date-picker>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ghi chú</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập thông tin ghi chú"
                [(ngModel)]="employeeHealth.note"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Cân nặng</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập cân nặng nhân viên"
                [(ngModel)]="employeeHealth.weight"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tình trạng sức khỏe</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập tình trạng sức khỏe"
                [(ngModel)]="employeeHealth.status"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Bệnh bẩm sinh, mãn tính (nếu có)</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập bệnh bẩm sinh, mãn tính nhân viên"
                [(ngModel)]="employeeHealth.congenital_diseases"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="createEmployeeHealth()" >Thêm</label>
    </div>
    </div>
  </ng-container>

</nz-modal>

<!-- dialog update health-->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="updateDisplay" nzTitle="CẬP NHẬT ĐO SỨC KHỎE" [nzWidth]="766">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Chiều cao</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập chiều cao nhân viên"
                [(ngModel)]="employeeHealthUpdate.height"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Nhóm máu</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn nhóm máu"
                [(ngModel)]="employeeHealthUpdate.blood_group"
                (ngModelChange)="onChangeHealthUpdate($event)">
                <nz-option *ngFor="let option of ListBlood" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="column form-group" [style]="{'margin-bottom': '10px'}">
            <div>
              <label class="font-normal">Ngày kiểm tra gần nhất</label>
            </div>
            <div class="ui-grid-col-12">
              <nz-date-picker
                [(ngModel)]="checkDate"
                (ngModelChange)="onSelectDateUpdate($event)"
                placeholder="01/01/2000"
                appendTo="body"></nz-date-picker>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ghi chú</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập thông tin ghi chú"
                [(ngModel)]="employeeHealthUpdate.note"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Cân nặng</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập cân nặng nhân viên"
                [(ngModel)]="employeeHealthUpdate.weight"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tình trạng sức khỏe</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập tình trạng sức khỏe"
                [(ngModel)]="employeeHealthUpdate.status"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Bệnh bẩm sinh, mãn tính (nếu có)</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập bệnh bẩm sinh, mãn tính nhân viên"
                [(ngModel)]="employeeHealthUpdate.congenital_diseases"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="updateEmployeeHealth()" >Lưu thay đổi</label>
    </div>
    </div>
  </ng-container>

</nz-modal>

<!-- dialog delete health -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="deleteDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <p class="p-confirmation">Bạn có chắc chắn muốn xóa?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="deleteEmployeeHealth()" >Xác nhận</label>
    </div>
    </div>
  </ng-container>

</nz-modal>
