<div class="content">
  <h1>Nơi làm việc của bạn</h1>
  <span>Bạn muốn đăng nhập vào nơi làm việc nào?</span>
  <div class="choose-form">
      <ul class="list-group" *ngFor="let company of companyList">
        <li >
          <button class="li-btn" (click)="onChoose(company.name)">
            <div class="row">
              <div class="col-lg-2">
                <img class="avatar-image" src="/assets/images/company-brand.png" alt="">
              </div>
              <div class="col-lg-10 row">
                <label class="col-lg-12 title">{{company.name}}</label>
                <label class="col-lg-12 address">{{company.address}}</label>
              </div>
            </div>
          </button>
        </li>
      </ul>
  </div>
  <button class="next-btn"><a class="a-color" [routerLink]="['/core/frontend/auth/login']"> Tiếp tục</a></button>
</div>
