<div class="content">

    <app-heading></app-heading>

    <div class="row wrapper-content">
        <div class="col-lg-2">
            <app-avatar></app-avatar>
        </div>
        <div class="col-lg-10 animation">
          <div class="row">
            <div class="col-lg-12 menu">
              <app-tab></app-tab>
            </div>
            <div class="col-lg-12 ">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
    </div>

</div>
