
.wrapper-content {
    background-color: #F9F9FA;
    padding         : 15px 10px 0px 15px;
    color           : #676a6c;
    margin: 0px;
}

.row {

    margin-right : 0 !important;
    margin-left  : 0 !important;
}

.none-padding-left{
  padding-left: 0px !important;
}

.animation {
    padding-left: 0px !important;
    animation-name    : moveleft;
    animation-duration: 4s;
    margin-left: -10px;
    width: 82%;
}

@keyframes moveleft {
    20% {
        left: 0px;
        top : 0px;
    }

    0% {
        left: 0px;
        top : 4px;
    }
}


