h1{
  position: absolute;
  text-align: center;
  width: 400px;
  height: 48.91px;
  left: -2%;
  top: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 47px;
  color: #34499D;

}
span{
    position: absolute;
    text-align: center;
    width: 80%;
    height: 16.65px;
    left: 10%;
    top: 12%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #5F5F5F;
}

.text-bottom {
    position: absolute;
    top     : 314px;
}

.label-question{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(66, 66, 66, 1);
  font-weight: 400;
}

.label-reply{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(66, 66, 66, 0.6);
  padding-top: 5px;
  font-weight: 300;
}

.security-form {
    position: absolute;
    width   : 90%;
    height  : 216.59px;
    left: 5%;
    top: 22%;

    .iput {
        padding-bottom: 14px;
        padding-top   : 9px;

        input {
            border: none;
            width: 100%;
            border-bottom: 0.5px solid rgba(38, 50, 56, 0.1);
            background: rgb(245 245 245 / 0%);
            height: 41px;
            outline: none;
        }
    }
}

.next-btn{
  position: absolute;
  width: 80%;
  height: 35px;
  border: none;
  color: #FFF;
  background: linear-gradient(90deg, rgba(52, 73, 157, 1) -4.47%, rgba(58, 184, 254, 1) 98.02%);
  border-radius: 25px;
  left: 9.5%;
  top: 85%;

  &:hover {
      background: #0E5EF2;
      color     : rgb(0, 0, 0);
  }
}

a{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

em {
  float       : right;
  color       : #E05C65;
  padding-left: 10px;
}
