<div class="content">
  <h1>Câu hỏi bảo mật</h1>
  <span>Câu hỏi bảo mật được sử dụng để xác minh danh tính và giúp bạn lấy lại mật khẩu</span>
  <div class="security-form">
      <div class="iput" >
          <label class="label-question">Tên quyển sách yêu thích của bạn là gì?</label> <br>
          <label class="label-reply">Trả lời</label> <br>
          <input class="placeholder-color" type="password" placeholder="Nhập câu trả lời">
      </div>
      <div class="iput" >
        <label class="label-question">Nơi bạn thích đi du lịch nhất?</label> <br>
        <label class="label-reply">Trả lời</label> <br>
        <input class="placeholder-color" type="password" placeholder="Nhập câu trả lời">
      </div>
      <div class="iput" >
        <label class="label-question">Món ăn yêu thích của bạn là gì?</label> <br>
        <label class="label-reply">Trả lời</label> <br>
        <input class="placeholder-color" type="password" placeholder="Nhập câu trả lời">
      </div>
  </div>
  <button class="next-btn"><a class="a-color" [routerLink]="['/core/frontend/auth/login']"> Tiếp tục</a></button>
</div>
