h1{
  position: absolute;
  text-align: center;
  width: 400px;
  height: 48.91px;
  left: -2%;
  top: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  color: #34499D;

}
span{
    position: absolute;
    text-align: center;
    width: 80%;
    height: 16.65px;
    left: 10%;
    top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #5F5F5F;
}

.link-form {
    position: absolute;
    width: 90%;
    height: 216.59px;
    left: 5%;
    top: 22%;

    .iput {
        padding-bottom: 14px;
        padding-top   : 9px;
    }
}

.next-btn{
  position: absolute;
  width: 80%;
  height: 35px;
  border: none;
  color: #FFF;
  background: linear-gradient(90deg, rgba(52, 73, 157, 1) -4.47%, rgba(58, 184, 254, 1) 98.02%);
  border-radius: 25px;
  left: 9.5%;
  top: 85%;

  &:hover {
      background: #0E5EF2;
      color     : rgb(0, 0, 0);
  }
}

a{
  color: white;
}

.avatar-image{
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: relative;
  border: none;
}

.center-image{
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  width: 34px;
  height: 34px;
  object-fit: contain;
  position: relative;
  border: none;
}

.arrow-image{
  margin-top: 10px;
  // margin-left: 1%;
  // margin-right: 1%;
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: relative;
  border: none;
}

.name{
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 16.41px;
  color: #34499D;
}

.email{
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 16.41px;
  color: #424242;
}

.otp-input{
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
}

.below{
  margin-top: 20px;
}
