<div class="content">
  <h1>Liên kết Google với Azicloud</h1>
  <span>Bạn có muốn xác nhận tài khoản liên kết với Google?</span>
  <div class="link-form">
      <div class="row">
        <div class="iput otp-input col-lg-12">
          <img class="avatar-image" [src]="socialAccount.photoUrl" alt="">
          <img class="center-image" src="/assets/images/link.png" alt="">
          <img class="avatar-image" src="/assets/images/Artboard.png" alt="">
        </div>
        <div class="iput otp-input col-lg-12 below">
          <div class="row">
            <label class="col-lg-12 name"> {{socialAccount.name}} </label>
            <label class="col-lg-12 email"> {{socialAccount.email}} </label>
          </div>
          <img class="arrow-image" src="/assets/images/arrow-left.png" alt="">
          <div class="row">
            <label class="col-lg-12 d-flex flex-row-reverse name"> {{name}} </label>
            <label class="col-lg-12 d-flex flex-row-reverse email"> {{socialAccount.email}} </label>
          </div>
        </div>
      </div>
  </div>
  <button class="next-btn" (click)="acceptLink()">Xác nhận</button>
</div>
