.ibox{
    background-color: #fff;
    font-size: 13px;
    margin: 0px;
    width: 95%;
    height: auto;
    .avatar-content{
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 0px;
    }
    .text-content{
        text-align: center!important;
    }
}

.avt-spinner{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
    color: #fff !important;
    background-color: #34499d;
    border-color: #34499d;
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0596F3;
    border-color: #0596F3;
    color: #FFFFFF;
}

.ibox-content {
    padding: 15px 20px 25px 20px;
    h4{
        text-align: left;
        color: #676a6c;
        font-size: 14px;
        margin-top: 5px;
        margin-top: 8px;
        font-family: inherit;
    }
    h5{
      text-align: left;
        color: #676a6c;
        font-size: 15px;
        font-weight: 600;
        margin-left: -15px;
        font-family: inherit;
    }
    h6{
      text-align: left;
        color: #676a6c;
        font-size: 13px;
        font-weight: bolder;
        font-family: inherit;
    }
    p {
        margin-bottom: 5px;

    }
    .text-justify{
        text-align: justify !important;
        padding-bottom: 15px;
    }
    .new-content{
        border-bottom: 1px solid rgb(231, 234, 236);
        border-top: 1px solid rgb(231, 234, 236);
        padding-top: 15px ;
        padding-bottom: 25px;
        .list-group{
            display: flex;
            flex-direction: column;
            padding-left: 0;
            .list-group-item{
                background-color: inherit;
                border: 1px solid #e7eaec;
                display: block;
                margin-bottom: -1px;
                padding: 10px 0px;
                position: relative;
                &:first-child {
                    border-top: none !important;
                }

                &:last-child{
                    border-bottom: none !important;
                }

                border-left: none !important;
                border-right: none !important;
                .float-right{
                    float: right;
                }
            }
        }

    }
}

i::before {
    padding-right: 3px;
}

.float-right {
    float: right!important;
}

.progress{
    height: 8px;
}
.bg{
  background-color: #115a96;
}
.descript{
  padding-top: 10px;
}
.skill{
    h4{
      text-align: left;
      color: #676a6c;
      font-size: 13px;
      font-weight: bolder;
      margin-top: 5px;
      margin-top: 8px;
      font-family: "Roboto", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

}
.thumb {
  width: 140px;
  height: 140px;
  background-color: #3e3e3e;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
.article {
  width: 138px;
  height: 138px;
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
  vertical-align:top;
}
