
<div class="ibox">
  <div class="avt-spinner" *ngIf="loading$ | async">
    <app-loading></app-loading>
  </div>
  <div class="avatar">
    <div class="avatar-content text-content">
      <div class="article">
        <div class="thumb" style="background-image: url({{img}});"></div>
      </div>
    </div>

    <div class="text-content">
      <label class="btn btn-primary btn-file">
        <i class="fa fa-camera"></i>Thay đổi avatar<input type="file" style="display: none;" (change)="onFileSelected($event)" accept="image/*">
      </label>
    </div>
  </div>

  <div class="ibox-content">
    <h4>
      <strong>{{web_personal.name}}</strong><br>
    </h4>
    <p><i class="fas fa-phone-alt"></i> +{{web_personal.phone}}</p>
    <p><i class="far fa-envelope-open"></i> Email: {{web_personal.email}}</p>

    <div class="address">
        <br>
        <h6>{{web_personal.category_name}}</h6>
        <i class="fas fa-map-marker-alt"></i>
        {{web_personal.current_address}}
        <br>
    </div>
    <div class="descript">
      <h4>Giới thiệu</h4>
      <p class="text-justify">
          {{web_personal.description_infor}}
      </p>
    </div>

    <div class="skill">
        <h4>KỸ NĂNG</h4>
        <div *ngFor="let typeskill of skill_list.skill_types">
            <h5>{{typeskill.name}}</h5>
            <div *ngFor="let skill of skill_list.skill_list">
              <div *ngIf="skill.skill_type_id == typeskill.id">
                  {{skill.skill_name}}
                <div class="progress progress-small">
                  <div *ngIf="skill.level_process >= 50" class="progress-bar bg" style="width:{{skill.level_process}}%"></div>
                  <div *ngIf="skill.level_process < 50"  class="progress-bar bg-danger" style="width:{{skill.level_process}}%"></div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
  </div>
</div>
