.header-bank{
  border-bottom: 0.5px solid rgb(209, 206, 206);
    padding-bottom: 10px;
    h5{
      display: inline-block;
      font-size: 14px;
      font-weight: 650;
      margin: 0 0 7px;
      padding: 0;
      text-overflow: ellipsis;
      float: none;
      // font-family: inherit;
      color: #6A6D6F;
  }
    .btn-primary {
      color: #fff !important;
      background-color: #34499d;
      border-color: #34499d;
      font-size: 0.7rem;
      font-weight: 400;
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      box-shadow: none;
      line-height: 1.2rem;
      float:right;
  }
  .btn-danger{
      color: #fff !important;
      font-size: 0.7rem;
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
      font-weight: 400;
      line-height: 1.2rem;
      float:right;
      margin-right: 2px;
  }

    .btn-primary:hover, .btn-primary:focus {
        background-color: #0596F3;
        border-color: #0596F3;
        color: #FFFFFF;
    }

}

.group-button{
  text-align: center;
}
.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
  float: none;
}
