<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>TÀI KHOẢN NGÂN HÀNG</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-primary" (click)="showDialog()"><i class="fas fa-pencil-alt"></i> Chỉnh sửa</label>
    </div>
  </div>
</div>

<div *ngIf="(!loadData)">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal col-lg-4">Chủ tài khoản:</label>
          <label class="col-lg-8 font-label"> {{employeeBank.bank_account_name}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Tên ngân hàng:</label>
          <label class="col-lg-8 font-label"> {{employeeBank.bank_name}} </label>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal col-lg-4">Số tài khoản:</label>
          <label class="col-lg-8 font-label"> {{employeeBank.bank_account_number}} </label>
        </div>
        <div class="form-group row">
         <label class="font-normal col-lg-4">Chi nhành ngân hàng:</label>
          <label class="col-lg-8 font-label"> {{employeeBank.bank_branch}} </label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dialog -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="display" nzTitle="CẬP NHẬT TÀI KHOẢNG NGÂN HÀNG" [nzWidth]="478">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="font-normal row">Chủ tài khoản</label>
            <div class="input-group">
              <input
                type="text"
                [(ngModel)]="employeeBankUpdate.bank_account_name"
                [ngModelOptions]="{standalone: true}"
                placeholder="Nhập chủ tài khoản nhân viên"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal row">Số tài khoản</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số tài khoản"
                [(ngModel)]="employeeBankUpdate.bank_account_number"
                [ngModelOptions]="{standalone: true}"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal row">Tên ngân hàng</label>
              <div class="ui-grid-col-12">
                <nz-select nzShowSearch nzAllowClear
                  nzPlaceHolder="Chọn tên ngân hàng"
                  [(ngModel)]="employeeBankUpdate.bank_name"
                  (ngModelChange)="onSelectedBankUpdate($event)">
                  <nz-option *ngFor="let option of ListBanks" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
                </nz-select>
              </div>
            </div>
            <div class="form-group">
              <label class="font-normal row">Chi nhánh ngân hàng</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="Nhập chi nhánh ngân hàng"
                  [(ngModel)]="employeeBankUpdate.bank_branch"
                  [ngModelOptions]="{standalone: true}"
                  class="form-control placeholder-color"
                />
              </div>
            </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" icon="pi pi-check" (click)="updateEmployeeBank()" >Lưu thay đổi</label>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- loading data -->
<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>
