<div class="content">
  <h1>Nhập mã OTP</h1>
  <span>Vui lòng nhập OTP đã được gửi đến email/số điện thoại của bạn.</span>
  <div class="verify-form">
      <countdown #cd [config]="{leftTime: 60}"></countdown>
      <div class="iput otp-input">
        <input type="text" [(ngModel)]="code.first" maxlength="1" #input1 (keyup)="onKeyUp($event, '', input1, input2)">
        <input type="text" [(ngModel)]="code.second" maxlength="1" #input2 (keyup)="onKeyUp($event, input1, input2, input3)">
        <input type="text" [(ngModel)]="code.third" maxlength="1" #input3 (keyup)="onKeyUp($event, input2, input3, input4)">
        <input type="text" [(ngModel)]="code.fourth" maxlength="1" #input4 (keyup)="onKeyUp($event, input3, input4, input5)">
        <input type="text" [(ngModel)]="code.fifth" maxlength="1" #input5 (keyup)="onKeyUp($event, input4, input5, input6)">
        <input type="text" [(ngModel)]="code.sixth" maxlength="1" #input6 (keyup)="onKeyUp($event, input5, input6, '')">
      </div>
      <button class="re-send" (click)="resendOTP()"> Gửi lại mã OTP</button>
      <div class="row above-btn">
        <div class="col-lg-6">
          <label class="float-left"><a class="a-color" [routerLink]="['/core/frontend/auth/login']">Thay đổi thông tin</a></label>
        </div>
        <div class="col-lg-6">
          <label class="d-flex flex-row-reverse"><a class="a-color" [routerLink]="['/core/frontend/auth/security']">Thử cách khác</a></label>
        </div>
      </div>
      <button class="btn-next" (click)="onClick()">Tiếp tục</button>
  </div>
</div>



