h1{
  position: absolute;
  text-align: center;
  width: 300px;
  height: 48.91px;
  left: 10%;
  top: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 47px;
  color: #34499D;

}
span{
    position: absolute;
    text-align: center;
    width: 80%;
    height: 16.65px;
    left: 10%;
    top: 13%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #5F5F5F;
}

hr {
    position: relative;
    width   : 380.04px;
    height  : 0px;
    left: 71.37px;
    top: 476px;
    border  : 0.5px solid rgba(0, 0, 0, 0.5);
}

.verify-form {
    position: absolute;
    width : 80%;
    height: 216.59px;
    left: 10%;
    top: 28%;

    .iput {
        padding-bottom: 14px;

        label {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 16px;
            color: #666666;
        }

        input {
            text-align: center;
            margin: 2px;
            border: none;
            width: 100%;
            border-bottom: 2px solid #34499D;
            background: rgb(245 245 245 / 0%);
            height: 41px;
            outline: none;
            &:focus{
              border: none;
              border-bottom-color: #f20e0e !important;
            }
        }
    }
}

.red-star{
  color: red;
}

countdown{
  padding-left: 40%;
}

.btn-next{
  height: 35px;
  border: none;
  color: #FFF;
  width: 100%;
  background: linear-gradient(90deg, rgba(52, 73, 157, 1) -4.47%, rgba(58, 184, 254, 1) 98.02%);
  border-radius: 25px;
  margin-top: 60%;

  &:hover {
      background: #0E5EF2;
      color: rgb(0, 0, 0);
  }

  .a-color{
    color: #fff;
  }
}

.re-send{
  text-align: center;
  background-color: white;
  border: none;
  padding-top: 10%;
  color:#34499D;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: right;
  &:focus{
    color: #0E5EF2;
  }
}

.otp-input{
  padding-top: 9px;
  display: flex;
  justify-content: center;
}

.above-btn{
  width: 100%;
  position: relative;
  top: 80%;
  left: 4%
}

.a-color{
  color: #34499D;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.75px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

em {
  float       : right;
  color       : #E05C65;
  padding-left: 10px;
}
