h1{
  position: absolute;
  text-align: center;
  width: 300px;
  height: 48.91px;
  left: 10%;
  top: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 47px;
  color: #34499D;

}
span{
    position: absolute;
    text-align: center;
    width: 80%;
    height: 16.65px;
    left: 10%;
    top: 13%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #5F5F5F;
}

.text-bottom {
    position: absolute;
    top     : 314px;
}

hr {
    position: relative;
    width   : 380.04px;
    height  : 0px;
    left: 71.37px;
    top: 476px;
    border  : 0.5px solid rgba(0, 0, 0, 0.5);
}

.forgotPw-form {
    position: absolute;
    width   : 80%;
    height  : 216.59px;
    left: 10%;
    top: 28%;
    .error {
        border: 1px solid red;

        label {
            position: relative;
            color: red;
            left: 88px;
            top: 7px;
        }

        li {
            color: red;
            position: relative;
            left: 78px;
            font-size: 12px;
        }
    }

    .iput {
        padding-bottom: 14px;
        padding-top   : 9px;

        label {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style : normal;
            font-weight: 300;
            font-size  : 17px;
            line-height: 16px;
            color      : #666666;
        }

        input {
            border: none;
            width: 100%;
            border-bottom: 0.5px solid rgba(38, 50, 56, 0.5);
            background: rgb(245 245 245 / 0%);
            height: 41px;
            outline: none;
        }
    }
}

.next-btn{
  position: absolute;
  width: 80%;
  height: 35px;
  border: none;
  color: #FFF;
  background: linear-gradient(90deg, rgba(52, 73, 157, 1) -4.47%, rgba(58, 184, 254, 1) 98.02%);
  border-radius: 25px;
  left: 9.5%;
  top: 85%;

  &:hover {
      background: #0E5EF2;
      color     : rgb(0, 0, 0);
  }
}

a{
  color: white;
}

em {
  float       : right;
  color       : #E05C65;
  padding-left: 10px;
}
