<div class="content">
  <h1>Quên mật khẩu</h1>
  <span>Nhập địa chỉ email/số điện thoại của ban, chúng tôi sẽ gửi OTP để bạn lấy lại mật khẩu</span>
  <div class="forgotPw-form">
      <div class="iput" [formGroup]="infoUser" >
          <label for="">Email/số điện thoại <strong class="red-star">*</strong></label> <br>
          <input class="placeholder-color" type="text"  [(ngModel)]="username" formControlName="email" placeholder="Nhập email/số điện thoại">
          <div *ngIf="(f.email.invalid && (f.email.dirty || f.email.touched))">
            <div *ngIf="f.email.errors.required">
                <em id="emailHelp">Email không được để trống.</em>
            </div>
            <div *ngIf="f.email.errors.email">
              <em id="emailHelp">Email không đúng định dạng.</em>
            </div>
          </div>
      </div>
  </div>
  <button class="next-btn" (click)="onClick()">Tiếp tục</button>
</div>
