<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>LIÊN HỆ KHẨN CẤP</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-primary" (click)="showDialog()"><i class="fas fa-pencil-alt"></i> Chỉnh sửa</label>
    </div>
  </div>
</div>

<div *ngIf="(!loadData)">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal col-4">Địa chỉ :</label>
          <div class="col-8">
            <label class="font-label">{{emergences.emergency_address}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="font-normal col-4">Người liên hệ :</label>
          <div class="col-8">
            <label class="font-label">{{emergences.name}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="font-normal col-4">Số di động :</label>
          <div class="col-8">
            <label class="font-label">{{emergences.emergency_phone}}</label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal col-4">Quan hệ :</label>
          <div class="col-8">
            <label class="font-label">{{emergences.emergency_relationship}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="font-normal col-4">Điện thoại :</label>
          <div class="col-8">
            <label class="font-label">{{emergences.emergency_mobile}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- dialog -->

<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="display" nzTitle="CẬP NHẬT LIÊN HỆ KHẨN CẤP" [nzWidth]="766">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <div>
              <label class="font-normal">Địa chỉ</label>
            </div>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập địa chỉ liên hệ"
                class="form-control placeholder-color" [(ngModel)]="emergencesUpdate.emergency_address"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Người liên hệ</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số điện thoại người liên hệ"
                class="form-control placeholder-color" [(ngModel)]="emergencesUpdate.name"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Số di động</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số điện thoại di động người liên hệ"
                class="form-control placeholder-color" [(ngModel)]="emergencesUpdate.emergency_phone"/>
            </div>
          </div>



        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Quan hệ với nhân viên</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập quan hệ"
                class="form-control placeholder-color" [(ngModel)]="emergencesUpdate.emergency_relationship"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Số cố định</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số cố định"
                class="form-control placeholder-color" [(ngModel)]="emergencesUpdate.emergency_mobile"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()" styleClass="p-button-text">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="updateEmergency()">Lưu thay đổi</label>
    </div>
    </div>
  </ng-container>
</nz-modal>

<!-- loading -->

<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>
