.profile{
    width: 105%;
    background-color: #ffffff;
    padding-top: 0px;
}

.animation{
    animation-name: moveleft;
    animation-duration: 4s;
    position: relative;
    padding:0px 20px 0px 0px;

}

.form-control{
  box-shadow: none;
  border-color: #34499d;
  padding: 6px 12px;
}

@keyframes moveleft {
    20%   { left:0px; top:0px;}
    0%  { left:0px; top:10px;}
}

.unallowed-padding-right{
  padding-right: 0px !important;
}
