
<div class="row profile">
    <div class="col-lg-2">
        <app-menu-left></app-menu-left>
    </div>
    <div class="col-lg-10 animation">
        <router-outlet></router-outlet>
    </div>
</div>
