<!-- wrapper-container -->
<div class="column wrapper-container">
  <div class="container">
    <app-info></app-info>
  </div>
  <br>
  <div class="container">
    <app-card-id></app-card-id>
  </div>
  <br>
  <div class="container">
    <app-passport></app-passport>
  </div>
  <br>
  <div class="container">
    <app-health></app-health>
  </div>
  <br>
  <div class="container">
    <app-bank></app-bank>
  </div>
  <br>
  <div class="container">
    <app-intro></app-intro>
  </div>
  <br>
</div>
