.wrapper-container{
    padding-left: 0;
    background-color: #f9f9fa;
    .container{
        border: none !important;
        background-color: white !important;
        padding: 0px 0px !important;
    }
}

.dialog-button{
  margin: 0px 0px 0px 0px !important;
}
