<h1>Đăng ký</h1>
<form class="signup-form">
    <div class="iput">
        <label for="">Họ và tên <strong class="red-star">*</strong></label> <br>
        <input
        class="placeholder-color"
        type="text"
        placeholder="Nhập họ & tên"
        [(ngModel)]="register.name"
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="iput">
        <label for="">Số điện thoại <strong class="red-star">*</strong></label><br>
        <input
        class="placeholder-color"
        type="text"
        placeholder="Nhập số điện thoại"
        [(ngModel)]="register.phone"
        [ngModelOptions]="{standalone: true}">
    </div>

    <div class="iput">
        <label for="">Email <strong class="red-star">*</strong></label><br>
        <input
        class="placeholder-color"
        type="email"
        [readonly]="readonly"
        placeholder="Nhập số email"
        [(ngModel)]="register.email"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="iput">
        <label for="">Mật khẩu <strong class="red-star">*</strong></label><br>
        <input
        class="placeholder-color"
        [type]="showPass ? 'text' : 'password'"
        placeholder="Nhập mật khẩu"
        [(ngModel)]="register.password"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="iput iput-text">
        <label>By signing up, you confirm that you’ve read and accepted AziCloud’s <a href="">Term of Service</a> and <a href="">Privacy Policy</a></label>
    </div>
    <button class="show-password" (click)="showPassword()"><i [class]="showEye ? 'far fa-eye-slash' : 'far fa-eye'"></i></button>
    <button class="btn-next" (click)="registerUser()">Tiếp tục</button>
</form>


<!-- dialog activate account -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="activatedDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <p class="p-confirmation">Tài khoản chưa được kích hoạt. Kích hoạt ngay?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn btn-cancel min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="moveToActivate()" >Xác nhận</label>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- dialog go to register work place -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="loginPageDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <p class="p-confirmation">Tài khoản đã được đăng ký. Đăng nhập ngay?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn btn-cancel min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="moveToLoginPage()" >Xác nhận</label>
    </div>
    </div>
  </ng-container>

</nz-modal>
