h1 {
    position: absolute;
    text-align: center;
    width: 300px;
    height: 50.91px;
    left: 10%;
    top: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #34499D;
}

.signup-form {
    position: absolute;
    width: 80%;
    height: 280.59px;
    left: 10%;
    top: 18%;

    .iput-text {
      position: relative;
      top: 20%;
      left: -3%;
        label {
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 10px;
            text-align: center;
            font-size: 14px !important;
            width: 100%;
        }

    }

    .iput {
        padding-bottom: 7px;

        label {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style : normal;
            font-weight: 300;
            font-size  : 17px;
            line-height: 16px;
            color      : #666666;
        }

        input {
            border: none;
            height: 37px;
            width: 100%;
            border-bottom: 0.5px solid #0E0E0E;
            background: rgb(245 245 245 / 0%);
            outline: none;
        }
    }
}

.btn-next{
  height: 35px;
  border: none;
  color: #FFF;
  width: 100%;
  background: linear-gradient(90deg, rgba(52, 73, 157, 1) -4.47%, rgba(58, 184, 254, 1) 98.02%);
  border-radius: 25px;
  margin-top: 22%;

  &:hover {
      background: #0E5EF2;
      color: rgb(0, 0, 0);
  }

  .a-color{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

em {
    float: right;
    color: #E05C65;
    padding-left: 10px;
}

.error {
    border: 1px solid red !important;
    background-color: #FFF;
}

.show-password{
  position: relative;
  top: -42%;
  left: 88%;
  background-color: #fff;
  border: none;
  outline: none;
}

.btn-primary {
  color: #fff !important;
  text-align: center !important;
  background-color: #34499d;
  border-color: #34499d;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 5px;
  border-radius: 3px !important;
  box-shadow: none;
  line-height: 1.2rem;
  float:right;
}

.btn-cancel {
  color: #333 !important;
  text-align: center !important;
  background-color: #fff;
  border-color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 5px;
  border-radius: 3px !important;
  box-shadow: none;
  line-height: 1.2rem;
  float:right;
}
