<div class="content">
  <h1>Mật khẩu mới</h1>
  <span>Điền mật khẩu mới để tiếp tục đăng nhập</span>
  <div class="change-password-form">
    <div class="iput" >
        <label for="">Mật khẩu mới <strong class="red-star">*</strong></label> <br>
        <input [(ngModel)]="newpassword" class="placeholder-color" type="password" placeholder="Nhập mật khẩu mới">
    </div>
    <div class="iput" >
      <label for="">Xác nhận mật khẩu <strong class="red-star">*</strong></label> <br>
      <input [(ngModel)]="newpassword_a" class="placeholder-color" type="password" placeholder="Nhập lại mật khẩu mới">
    </div>
  </div>
  <button class="next-btn" (click)="onClick()">Tiếp tục</button>
</div>
