<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>GIỚI THIỆU BẢN THÂN</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-primary" (click)="showDialog()"><i class="fas fa-pencil-alt"></i> Chỉnh sửa</label>

    </div>
  </div>
</div>

<div class="ibox-content">
  <label class="font-label">{{description}}</label>

</div>

<!-- dialog -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="display" nzTitle="GIỚI THIỆU BẢN THÂN" [nzWidth]="766">

  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <p-editor [(ngModel)]="description" [style]="{'height':'200px'}"></p-editor>
  </ng-container>

  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="updateDescription()" >Lưu thay đổi</label>
      </div>
    </div>
  </ng-container>
</nz-modal>
