.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
}
.ibox-content{
    background-color: #ffffff;
    color: inherit;
    padding: 10px 20px 10px 20px;

    .form-group{
        margin-bottom: 1rem;
        .font-normal{
            color: #000;
            font-weight: 300;
            margin-bottom: 8px;
            font-size: 13px;
        }
    }
}

.group-button{
  text-align: center;
}

.btn-mar{
  margin-bottom: 6px;
}
