<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>CHỖ Ở HIỆN NAY</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-mar btn-primary" (click)="showDialog()"><i class="fas fa-pencil-alt"></i> Chỉnh sửa</label>

    </div>
  </div>
</div>

<div *ngIf="(!loadData)">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <div class="col-4">
            <label class="font-normal">Địa chỉ :</label>
          </div>
          <div class="col-8">
            <label class="font-label">{{currunts.current_address}}</label>
        </div>
      </div>
        <div class="form-group row">
          <label class="font-normal col-4">Quận/ Huyện :</label>
          <div class="col-8">
            <label class="font-label">{{currunts.current_territory_name}}</label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <label class="font-normal">Số cố định :</label>
          </div>
          <div class="col-8">
            <label class="font-label">{{currunts.mobile}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="font-normal col-4">Quốc gia :</label>
          <div class="col-8">
            <label class="font-label">{{currunts.current_country_name}}</label>
          </div>
        </div>

      </div>
      <div class="col-lg-6 ">

        <div class="form-group row">
          <label class="font-normal col-4">Phường/ Xã :</label>
          <div class="col-8">
            <label class="font-label">{{currunts.current_subterritory_name}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="font-normal col-4">Tỉnh/ Thành phố :</label>
          <div class="col-8">
            <label class="font-label">{{currunts.current_area_name}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="font-normal col-4">Số di động :</label>
          <div class="col-8">
            <label class="font-label">{{currunts.phone}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- dialog -->

<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="display" nzTitle="CẬP NHẬT NƠI Ở HIỆN TẠI" [nzWidth]="766">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <div>
              <label class="font-normal">Địa chỉ</label>
            </div>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập địa chỉ"
                class="form-control placeholder-color" [(ngModel)]="curruntsUpdate.current_address"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Số cố định</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số cố định"
                class="form-control placeholder-color" [(ngModel)]="curruntsUpdate.mobile"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Quốc gia</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn quốc gia"
                (ngModelChange)="getAreaList($event)"
                [(ngModel)]="curruntsUpdate.current_country_name">
                <nz-option *ngFor="let option of country_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Quận/ Huyện</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn quận/huyện"
                (ngModelChange)="getSubterritoryList($event)"
                [(ngModel)]="curruntsUpdate.current_territory_name">
                <nz-option *ngFor="let option of territory_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Số di động</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số điện thoại di"
                class="form-control placeholder-color" [(ngModel)]="curruntsUpdate.phone"/>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tỉnh/ Thành phố</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn tỉnh/thành phố"
                (ngModelChange)="getTerritoryList($event)"
                [(ngModel)]="curruntsUpdate.current_area_name">
                <nz-option *ngFor="let option of area_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Phường/ Xã</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn phường/xã"
                (ngModelChange)="getIdSubterritory($event)"
                [(ngModel)]="curruntsUpdate.current_subterritory_name">
                <nz-option *ngFor="let option of subterritory_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          </div>

        </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label  class="btn min-w-100" (click)="closeDialog()" styleClass="p-button-text">Hủy</label>
        <label  class="btn btn-primary min-w-100" (click)="updateCurrent()" label="Yes">Lưu thay đổi</label>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- loading -->

<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>
