
<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>THÔNG TIN CÁ NHÂN</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-primary" (click)="showDialog()"><i class="fas fa-pencil-alt"></i> Chỉnh sửa</label>

    </div>
  </div>
</div>

<div *ngIf="(!loadData)">
  <div class="content">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal col-lg-4">Họ và tên:</label>
          <label class="col-lg-8 font-label"> {{employee.name}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Email:</label>
          <label class="col-lg-8 font-label"> {{employee.email}} </label>
        </div>
        <div class="row form-group">
            <label class="font-normal col-lg-4">Ngày sinh:</label>
            <label class="col-lg-8 font-label"> {{employee.birth_day}}/{{employee.birth_month}}/{{employee.birth_year}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Tôn giáo:</label>
            <label class="col-lg-8 font-label"> {{employee.religion_name}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Tình trạng hôn nhân:</label>
            <label class="col-lg-8 font-label"> {{employee.marital_status_name}} </label>
        </div>

        <div class="form-group row">
          <label class="font-normal col-lg-4">Hoạt động</label>
          <div class="col-lg-8">
            <p-inputSwitch [(ngModel)]="employee.active" readonly="true"></p-inputSwitch>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal col-lg-4">Số điện thoại:</label>
          <label class="col-lg-8 font-label"> {{employee.phone}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Mã số thuế cá nhân:</label>
          <label class="col-lg-8 font-label"> {{employee.tax_code}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Quốc tịch:</label>
          <label class="col-lg-8 font-label"> {{employee.nationality_name}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Giới tính:</label>
          <label class="col-lg-8 font-label"> {{employee.gender_name}} </label>
        </div>
        <div class="form-group row">
          <label class="font-normal col-lg-4">Dân tộc:</label>
          <label class="col-lg-8 font-label"> {{employee.nation_name}} </label>
        </div>

      </div>
    </div>
    <br>

  </div>
</div>

<!-- dialog -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="display" nzTitle="CẬP NHẬT THÔNG TIN CÁ NHÂN" [nzWidth]="766">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Họ và tên</label>
            <input
              type="text"
              [(ngModel)]="employeeUpdate.name"
              [ngModelOptions]="{standalone: true}"
              placeholder="Nhập họ và tên nhân viên"
              class="form-control placeholder-color"
            />
          </div>
          <div class="form-group">
            <label class="font-normal">Email</label>
            <div class="input-group">
              <input
                type="text"
                [(ngModel)]="employeeUpdate.email"
                [ngModelOptions]="{standalone: true}"
                placeholder="Nhập email nhân viên"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="column form-group">
            <label class="font-normal">Ngày sinh</label>
            <div class="ui-grid-col-12">
              <nz-date-picker
                [(ngModel)]="date"
                (ngModelChange)="onSelected($event)"
                placeholder="01/01/2000"
                appendTo="body"></nz-date-picker>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tôn giáo</label>
            <div class="input-group">
              <input
                type="text"
                [(ngModel)]="employeeUpdate.religion_name"
                [ngModelOptions]="{standalone: true}"
                placeholder="Nhập tôn giáo"
                class="form-control placeholder-color" />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tình trạng hôn nhân</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn tình trạng hôn nhân"
                [(ngModel)]="employeeUpdate.marital_status_name"
                (ngModelChange)="onChangeMarital($event)">
                <nz-option *ngFor="let option of ListMaritals" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Số điện thoại</label>
            <div class="input-group">
              <input
                type="text"
                [(ngModel)]="employeeUpdate.phone"
                [ngModelOptions]="{standalone: true}"
                placeholder="Nhập số điện thoại nhân viên"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Mã số thuế cá nhân</label>
            <div class="input-group">
              <input
                type="text"
                [(ngModel)]="employeeUpdate.tax_code"
                placeholder="Nhập mã số thuế cá nhân nhân viên"
                class="form-control placeholder-color"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Quốc tịch</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn quốc gia"
                [(ngModel)]="employeeUpdate.nationality_name"
                (ngModelChange)="onChangeCountry($event)">
                <nz-option *ngFor="let option of ListCountry" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Giới tính</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn giới tính"
                [(ngModel)]="employeeUpdate.gender_name"
                (ngModelChange)="onChangeGender($event)">
                <nz-option *ngFor="let option of ListGenders" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Dân tộc</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn dân tộc"
                [(ngModel)]="employeeUpdate.nation_name"
                (ngModelChange)="onChangeNation($event)">
                <nz-option *ngFor="let option of ListNations" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
              </nz-select>
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Hoạt động</label>
            <div class="input-group mt-7">
              <p-inputSwitch [(ngModel)]="employeeUpdate.active"></p-inputSwitch>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="updatePrivateInfo()" >Lưu thay đổi</label>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- loading data -->
<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>
