
.content{
    background-color: #ffffff;
    color: inherit;
    padding: 10px 20px 10px 20px;
    border-color: #ffffff;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    .form-group{
        margin-bottom: 1rem;
        .font-normal{
          color: #000;
          font-weight: 300;
          margin-bottom: 8px;
          font-size: 13px;
          margin: 0px 0px 8px;
          text-align: start;
        }

        .font-label{
          color: #676a6c;
          font-weight: 400;
          margin-bottom: 8px;
          font-size: 13px;
          margin: 0px 0px 8px;
          text-align: start;
        }
    }
}

.btn-add{
  font-size: 12px;
  font-weight: 600;
  padding:2px;
}

.panel-heading{
    color: black;
    font-weight: 700;
}
.group-button{
  text-align: center;
}
.ui-dialog {
  overflow: scroll;
  max-height: 100%;
}

input{
  width: 100%;
  height: 35px;

  nz-select{
    width: 100%;
    height: 35px;
  }

  nz-date-picker{
    width: 100%;
    height: 35px;
  }
}

.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
  float:none;
}
.group-button{
  text-align: center;
}

.form-group{
  margin-bottom: 1rem;
}
