
<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>NGƯỜI PHỤ THUỘC</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-primary" (click)="showDialogCreate()"><i class="fa fa-plus"></i> Thêm mới</label>
    </div>
  </div>
</div>

<div *ngIf="(!loadData)">
  <div class="ibox-content">
    <div class="table-responsive">
      <table class="table table-hover">
          <tr style=" border-bottom: 0.5px solid rgb(209, 206, 206);">
            <th>Họ và tên</th>
            <th>Mối quan hệ</th>
            <th class="contact-type"></th>
            <th>Liên hệ</th>
            <th class="text-right"></th>
          </tr>

          <tbody>
            <tr *ngFor="let dependent of dependents_list">
              <td>{{dependent.name}}</td>
              <td>{{dependent.relationship_key}}</td>
              <td class="contact-type"><i class="fa fa-envelope"> </i></td>
              <td class="text-left">{{dependent.email}}</td>
              <td class="client-status text-right">
                <label class="btn-primary" (click)="showDialogUpdate(dependent.id)"><i class="fas fa-pencil-alt"></i> Sửa</label>
                <label class="btn-danger" (click)="showDialogdelete(dependent.id)"><i class="fa fa-trash"></i> Xóa</label>

              </td>

            </tr>

            </tbody>
          </table>
      </div>
  </div>
</div>

<!-- loading data -->
<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>

<!-- dialog delete dependent -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="deleteDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <p class="p-confirmation">Bạn có chắc chắn muốn xóa?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="deleteDependent()" > Xóa</label>
    </div>
    </div>
  </ng-container>

</nz-modal>


<!-- dialog create dependent -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="displaycreate" nzTitle="THÊM NGƯỜI PHỤ THUỘC" [nzWidth]="766">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="form-group col-lg-12">
          <label class="font-normal">Tên</label>
          <div class="ui-grid-col-12">
            <input
              type="text"
              placeholder="Nhập Tên"
              class="form-control placeholder-color" [(ngModel)]="dependent.name"
            /></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Email</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập Email"
                class="form-control placeholder-color" [(ngModel)]="dependent.email"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Giới tính</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn giới tính"
                (ngModelChange)="onChangeGender($event)"
                [(ngModel)]="dependent.gender_name">
                <nz-option *ngFor="let option of ListGenders" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Quốc gia</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn quốc gia"
                (ngModelChange)="getAreaList($event)"
                [(ngModel)]="dependent.country_name">
                <nz-option *ngFor="let option of country_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Quận/ Huyện</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn quận/huyện"
                (ngModelChange)="getSubterritoryList($event)"
                [(ngModel)]="dependent.territory_name">
                <nz-option *ngFor="let option of territory_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>

          <div class="form-group">
            <label class="font-normal">Số CMND/Hộ chiếu</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập số CMND/Hộ Chiếu"
                class="form-control placeholder-color" [(ngModel)]="dependent.identity_card"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày bắt đầu</label>
            <div class="ui-grid-col-12">
              <nz-date-picker
                  (ngModelChange)="onSelectedStartDateCreate($event)"
                  [(ngModel)]="dependent.start_date"
                  placeholder="01/01/2000"
                  appendTo="body">
              </nz-date-picker>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Ngày sinh</label>
            <div class="input-group">
                <nz-date-picker
                  (ngModelChange)="onSelected($event)"
                  [(ngModel)]="fakeBirthday"
                  placeholder="01/01/2000"
                  appendTo="body">
                </nz-date-picker>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Mối Quan Hệ</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập Mối Quan Hệ"
                class="form-control placeholder-color"
                [(ngModel)]="dependent.relationship_key"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tỉnh/ Thành phố</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn tỉnh/thành phố"
                (ngModelChange)="getTerritoryList($event)"
                [(ngModel)]="dependent.area_name">
                <nz-option *ngFor="let option of area_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Phường/ Xã</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn phường/xã"
                (ngModelChange)="getIdSubterritory($event)"
                [(ngModel)]="dependent.subterritory_name">
                <nz-option *ngFor="let option of subterritory_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Mã số thuế cá nhân</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập mã số thuế cá nhân"
                class="form-control placeholder-color"
                [(ngModel)]="dependent.tax_code"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày Kết Thúc</label>
            <div class="ui-grid-col-12">
                <nz-date-picker
                  (ngModelChange)="onSelectedEndDateCreate($event)"
                  [(ngModel)]="dependent.end_date"
                  placeholder="01/01/2000"
                  appendTo="body">
                </nz-date-picker>
              </div>
          </div>

          </div>
        </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="createDependent()">Thêm</label>
      </div>
    </div>
  </ng-container>

</nz-modal>

<!-- dialog update dependent -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="displayupdate" nzTitle="CẬP NHẬT NGƯỜI PHỤ THUỘC" [nzWidth]="766">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="form-group col-lg-12">
          <label class="font-normal">Tên</label>
          <div class="ui-grid-col-12">
            <input
              type="text"
              placeholder="Nhập Tên"
              class="form-control placeholder-color" [(ngModel)]="dependentUpdate.name"
            /></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Email</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập Email"
                class="form-control placeholder-color" [(ngModel)]="dependentUpdate.email"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Giới Tính</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn giới tính"
                (ngModelChange)="onChangeGenderUpdate($event)"
                [(ngModel)]="dependentUpdate.gender_name">
                <nz-option *ngFor="let option of ListGenders" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Quốc gia</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn quốc gia"
                (ngModelChange)="getAreaList($event)"
                [(ngModel)]="dependentUpdate.country_name">
                <nz-option *ngFor="let option of country_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Quận/ Huyện</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn quận/huyện"
                (ngModelChange)="getSubterritoryList($event)"
                [(ngModel)]="dependentUpdate.territory_name">
                <nz-option *ngFor="let option of territory_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Số CMND/Hộ chiếu</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập số CMND/Hộ chiếu"
                class="form-control placeholder-color" [(ngModel)]="dependentUpdate.identity_card"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày bắt đầu</label>
            <div class="ui-grid-col-12">
              <nz-date-picker
                  [(ngModel)]="dependentUpdate.start_date"
                  (ngModelChange)="onSelectedStartDateUpdate($event)"
                  placeholder="01/01/2000"
                  appendTo="body">
              </nz-date-picker>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="font-normal">Ngày sinh</label>
            <div class="input-group">
              <nz-date-picker
                  [(ngModel)]="birthday"
                  (ngModelChange)="onSelectedUpdate($event)"
                  placeholder="01/01/2000"
                  appendTo="body">
              </nz-date-picker>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Mối quan hệ</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập Mối Quan Hệ"
                class="form-control placeholder-color" [(ngModel)]="dependentUpdate.relationship_key"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Tỉnh/ Thành phố</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn tỉnh/thành phố"
                (ngModelChange)="getTerritoryList($event)"
                [(ngModel)]="dependentUpdate.area_name">
                <nz-option *ngFor="let option of area_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Phường/ Xã</label>
            <div class="ui-grid-col-12">
              <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn phường/xã"
                (ngModelChange)="getIdSubterritory($event)"
                [(ngModel)]="dependentUpdate.subterritory_name">
                <nz-option *ngFor="let option of subterritory_list" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group">
            <label class="font-normal">Mã số thuế cá nhân</label>
            <div class="ui-grid-col-12">
              <input
                type="text"
                placeholder="Nhập mã số thuế cá nhân"
                class="form-control placeholder-color" [(ngModel)]="dependentUpdate.tax_code"
              /></div>
          </div>
          <div class="form-group">
            <label class="font-normal">Ngày Kết Thúc</label>
            <div class="ui-grid-col-12">
              <nz-date-picker
                  [(ngModel)]="dependentUpdate.end_date"
                  (ngModelChange)="onSelectedEndDateUpdate($event)"
                  placeholder="01/01/2000"
                  appendTo="body">
              </nz-date-picker>
             </div>
            </div>
          </div>
        </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100"  (click)="updateDependent()" label="Yes">Lưu thay đổi</label>
    </div>
   </div>
  </ng-container>
</nz-modal>

