
.ibox-content{
    background-color: #ffffff;
    color: inherit;
    padding: 10px 20px 10px 20px;

}

th{
  padding-bottom: 10px;
  padding-left:8px;
  font-size: 13px;

  color:rgb(95, 94, 94);

}

td{
  color:rgb(95, 94, 94);
  font-size: 13px;
  padding: 8px;
  align-items: flex-start;
  line-height: 1.42857;
}

.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
}

.group-button{
  text-align: center;
}

.contact-type{
  padding:8px 0px;
  opacity: 0.4;
}

