<div class="content">
  <app-heading></app-heading>
  <div class="row wrapper-content">
      <div class="col-lg-2">
        <app-left-menu></app-left-menu>
      </div>
      <div class="col-lg-10">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
      </div>
  </div>

</div>

<!-- style="padding-right: 0px; padding-left: 0px;" -->
