.wrapper-content{
  background-color: #f9f9fa;
  padding: 15px 0px 0px 0px;
  color: #676a6c;
}

.content{
  background-color: #f9f9fa;
}

.col-lg-2{
  border-top: 1px solid #e7eaec;
}

.col-lg-10{
  border-top: 1px solid #e7eaec;
}
