.tab{
    background-color: #fff;
    padding: 3px 20px;
    font-size: 13px;
    font-weight: 400;
    height: 60px;
    position: relative;
    left: -12px;
    width: 105%;
}

.nav-bar {
  .tabmenu{
    background-color: #fff;
    border-bottom: 0.5px solid rgb(209, 206, 206);
    margin-top: 10px;
    margin-left: 0px;
       ul
       {
           margin-top: 13px;
           margin-bottom: 0;
           text-align: left;
           padding-left: 0;
           padding-bottom: 15px;
           li
           {
             list-style: none;
            //  border-bottom: 0.5px solid rgb(209, 206, 206);
             display: inline;
             text-align: left;
             padding-bottom: 15px;
                a
                {
                    // background: #fff !important;
                    color: #34499d;
                    border: none;
                    padding: 13px 15px;
                    font-size: 13px;
                    &:hover {
                        background: #fff !important;
                        color: #007bff;
                        border: none;
                        border-bottom: 5px solid #007bff !important;
                    }
                    &:focus {
                        background: #fff !important;
                        border: none;
                        border-bottom: 5px solid #34499d !important;
                    }
                    &:last-child{
                        padding-right: 18px;
                    }

                }

           }

       }
      }

}

.active {
    background: #fff !important;
    border: none;
    border-bottom: 5px solid #34499d !important;
}

