<div class="tab">
    <div class="nav-bar ">
        <div class="tabmenu">
            <ul>
                <li><a class="active" href="">HỒ SƠ</a></li>
                <!-- <li><a href="">CÔNG VIỆC</a></li>
                <li><a href="">CHẤM CÔNG</a></li>
                <li><a href="">YÊU CẦU</a></li>
                <li><a href="">THI ĐUA KHEN THƯỞNG</a></li>
                <li><a href="">THỜI GIAN BIỂU</a></li>
                <li><a href="">TÀI LIỆU</a></li>
                <li><a href="">TÙY CHỈNH</a></li> -->
            </ul>
        </div>

    </div>
</div>
