/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "/src/assets/styles/button.scss";
@import '~ngx-toastr/toastr';

html.cdk-global-scrollblock {
  overflow-y: auto;
}

.spinner{
  height: inherit;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-spinner{
  height: inherit;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-spinner{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
    position:absolute;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

// .ant-modal-wrap{
//   overflow: hidden !important;
// }

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  height: 35px !important;
}

.placeholder-color::placeholder {
  opacity: 0.5;
}

.p-dropdown{
  width: 100%;
  text-align: left;
}

.p-confirmation{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.ibox-content{
  background-color: #ffffff;
  color: inherit;
  padding: 10px 20px 20px 20px;
  border-color: #ffffff;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  .form-group{
      margin-bottom: 1rem;

  }
  .font-normal{
    color: #000;
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 13px;
    margin: 0px 0px 8px;
    text-align: start;
  }

  .font-label{
    color: #676a6c;
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 13px;
    margin: 0px 0px 8px;
    text-align: start;
  }
}

.btn{
  padding-right: 5px !important;
  float: none !important;
}

.min-w-100{
  min-width: 100px !important;
  height: 33.47px;
  border: 1px solid #e7eaec !important;
  margin-right: .25rem;
}

.btn-primary {
  color: #fff !important;
  text-align: center !important;
  background-color: #34499d;
  border-color: #34499d;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.2rem 0.4rem;
  border-radius: 3px !important;
  box-shadow: none;
  line-height: 1.2rem;
  float:right;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #0596F3;
  border-color: #0596F3;
  color: #FFFFFF;
}

.btn-danger{
  color: #fff !important;
  background-color: #ed5565 !important;
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  border-radius: 3px !important;
  font-weight: 400;
  line-height: 1.2rem;
  float:right;
  margin-right: 2px;
}

.btn-danger:hover {
  background-color: #f30b22 !important;
  border-color: #f30b22 !important;
  color: #FFFFFF;
}

.btnSave {
    text-align: center!important;
    padding-top: 12px;
    padding-right: 30px;
}

.image-size{
  width: 380px;
  height: 230px;
  margin-right: 0px;
  margin-left: 0px;
}

input{
  width: 100%;
  height: 35px;
  border-radius: 0% !important;
}

nz-select{
  width: 100%;
  height: 35px !important;
}

nz-date-picker{
  width: 100%;
  height: 35px;
}

textarea {
  width: 100%;
  height: 150px;
}

.ant-modal-body{
  padding: 10px !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-upload-wrap {
  width: 200px;
  height: 200px;
  border: 2px dashed #9ca19e;
  position: relative;
}

.image-upload-wrap:hover {
  background-color: #ebebeb;
  border: 2px dashed #ffffff;
}

.show-image-upload {
  object-fit: contain;
  width: 150px;
  height: 150px;
  position: relative;
}

.show-image-uploaded {
  object-fit: contain;
  max-width: 100% ;
  max-height: 100%;
  position: relative;
}

.line{
  height: 20px !important;
  background-color: #e2e2e2;
}

.header-top{
  border-bottom: 0.5px solid rgb(209, 206, 206);
  padding-right: 10px !important;
    padding-bottom: 10px;
    background-color: white !important;
    height: 50px;
    h5{
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 7px;
        padding-top: 15px !important;
        padding-left: 10px !important;
        text-overflow: ellipsis;
        float: none;
        color: #676a6c;
    }
}

.font-weight-bold{
  font-weight: 700 !important;
  color: #333 !important;
}
.container{
  padding:0px;
}

.red-star{
  color: red;
}
