.header-skill{
    border-bottom: 0.5px solid rgba(0,0,0,.125);
    padding-bottom: 10px;
    padding-left: 10px;

}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 10px 20px 10px 20px;
    border:1px solid #ffffff;
   .panel{
       border-radius: 5px;
       border-color: #e7eaec;
       margin-bottom: 15px;
   }
       .panel-heading{
        margin: 0px;
        color:#333 !important;
        font-size: 13px;
        font-weight: 700 !important;
        padding: 10px;
        border-bottom: 0.5px solid #e7eaec;
        }
        .panel-body{
          margin:15px;
        }
}
.card-body{
  padding:0px;

}

td{
    font-size: 13px;
    width:200px;
    padding: 8px;
    align-items: flex-start;
    line-height: 1.42857;
    color:#6A6D6F;
}
tr{
    font-size: 13px;
    padding: 10px 15px;
    align-items: flex-start;
    color:#6A6D6F;
}

.progress{
    height: 5px;
}

.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
}
.btn-add,.btn-delete{
  font-size: 12px;
  padding: 2px 3.4px;
  font-weight: 600;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 478px;
    height: 463px;
}
:host ::ng-deep .ip-text{

    width: 100%;
    border-color: #6c757d;
    background-color: #e2e5e7;
}

:host ::ng-deep .p-progressbar-determinate .p-progressbar-label {

    font-size: 3px;
}

:host ::ng-deep hr {
    margin-top: 0px;
 }
 :host ::ng-deep .p-dialog {
    border-radius: 3px;
    box-shadow: black;
    border: 1px solid;
    box-shadow: none;
    max-width: 478px;
    min-width: 478px;
    max-height: 480px;
 }

:host ::ng-deep .p-dialog .form-group {
    .form-control{
       height: 36px;
       width: 100%;
    }
    .group-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .btn-white{
           margin-right: 10px;
           border: 1px solid #676a6c;
        }
    }
   padding-bottom: 10px;
 }



 .client-status button{
   float:right;
   margin: 1px;
 }
 .table>:not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border:none;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.group-button{
  text-align: center;
}
.progress{
  height: 5px;
}
.bg{
  background-color: #115a96;
}
.labelprocess{
  width:418px;
  height:32px;
  padding:5px 15px;
  background-color: #dddddd;
}
