<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>KỸ NĂNG</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label (click)=" showModalDialog()" class="btn-primary"><i class="fa fa-plus"></i> Thêm mới</label>
    </div>
  </div>
</div>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div *ngIf="(!loadData)">
  <div class="ibox-content" *ngFor="let employeeSkillType of employeeSkills">
    <div class="card card-body">
      <div class="panel-heading white-bg font-weight-bold ">{{employeeSkillType.name}}</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
              <tr >
                <th>Kỹ năng</th>
                <th>Cấp độ</th>
                <th>Mức độ (%)</th>
              </tr>
            <tbody *ngFor="let Skill of employeeSkillType.skill_list" >
              <tr *ngIf="employeeSkillType.id === Skill.skill_type_id" style="border-top: 0.5px solid #e7eaec; padding:10px 15px;">
                <td>{{Skill.skill_name}}</td>
                <td>{{Skill.skill_level_name}}</td>
                <td>
                  <small>Đạt được mức: {{Skill.level_process}}%</small>
                  <div class="progress progress-small">
                    <div class="progress-bar bg" style="width:{{Skill.level_process}}%"></div>
                  </div>
                </td>

                <td class="client-status text-right">
                  <label (click)=" displayDialog(Skill.id)"  class="btn-primary"><i class="fas fa-pencil-alt"></i> Sửa</label>
                   <label class="btn-danger" (click)="displayDialogDelete(Skill.id)"> <i class="fa fa-trash"></i> Xóa</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- loading -->
<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>

 <!-- dialog add skill -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="displayBasic" nzTitle="THÊM KỸ NĂNG" [nzWidth]="478">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lq-12">
          <div class="form-group">
            <label class="font-normal">Loại kỹ năng</label> <br>
            <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn loại kỹ năng"
                (ngModelChange)="changeidtypeCreate($event)"
                [(ngModel)]="skillCreate.skill_type_name" [ngModelOptions]="{standalone: true}">
                <nz-option *ngFor="let option of EmSkillTypes" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>

          </div>
          <div class="form-group">
            <label class="font-normal">kỹ năng</label> <br>
            <nz-select nzShowSearch nzAllowClear
            nzPlaceHolder="Chọn kỹ năng"
            (ngModelChange)="changeid($event)"
            [(ngModel)]="skillCreate.skill_name" [ngModelOptions]="{standalone: true}">
            <nz-option *ngFor="let option of skillLists" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>
          </div>
          <div class="form-group">
            <label class="font-normal">Cấp độ</label> <br>
            <nz-select nzShowSearch nzAllowClear
                (ngModelChange)="changeidlevel($event)"
                nzPlaceHolder="Chọn cấp độ"
                [(ngModel)]="skillCreate.skill_level_name" [ngModelOptions]="{standalone: true}">
                <nz-option *ngFor="let option of skillLevels" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>

          </div>
          <div class="form-group">
            <label class="font-normal">Cấp độ</label> <br>
            <label for="" class="labelprocess">{{skillCreate.level_process}}%</label>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <button class="btn min-w-100" (click)=" closeDialog()">Hủy</button>
        <button class="btn btn-primary min-w-100" (click)="add()">Thêm</button>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- dialog update skill -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="visible" nzTitle="CẬP NHẬT KỸ NĂNG" [nzWidth]="478">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lq-12">
          <div class="form-group">
            <label class="font-normal">Loại kỹ năng</label> <br>
            <nz-select nzShowSearch nzAllowClear
                nzPlaceHolder="Chọn loại kỹ năng"
                (ngModelChange)="changeidtypeUpdate($event)"
                [(ngModel)]="skillUpdate.skill_type_name" [ngModelOptions]="{standalone: true}">
                <nz-option *ngFor="let option of EmSkillTypes" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>

          </div>
          <div class="form-group">
            <label class="font-normal">kỹ năng</label> <br>
            <nz-select nzShowSearch nzAllowClear
            nzPlaceHolder="Chọn kỹ năng"
            (ngModelChange)="changeidUpdate($event)"
            [(ngModel)]="skillUpdate.skill_name" [ngModelOptions]="{standalone: true}">
            <nz-option *ngFor="let option of skillLists" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>
          </div>
          <div class="form-group">
            <label class="font-normal">Cấp độ</label> <br>
            <nz-select nzShowSearch nzAllowClear
                (ngModelChange)="changeidlevelUpdate($event)"
                nzPlaceHolder="Chọn cấp độ"
                [(ngModel)]="skillUpdate.skill_level_name" [ngModelOptions]="{standalone: true}">
                <nz-option *ngFor="let option of skillLevels" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
            </nz-select>

          </div>
          <div class="form-group">
            <label class="font-normal">Cấp độ</label> <br>
            <label for="" class="labelprocess">{{skillUpdate.level_process}}%</label>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <button class="btn min-w-100" (click)="closeDialog()">Hủy</button>
        <button class="btn btn-primary min-w-100" (click)="updateSkill()">Lưu Thay Đổi</button>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- dialog delete skill -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="deleteDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <p class="p-confirmation">Bạn có chắc chắn muốn xóa?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="deleteSkill()" >Xóa</label>
    </div>
    </div>
  </ng-container>

</nz-modal>
