<div class="column  wrapper-container">
  <div class="container">
    <app-current-place></app-current-place>
  </div>
  <br>
  <div class="container">
    <app-emergence-contact></app-emergence-contact>
  </div>
  <br>
  <div class="container">
    <app-address></app-address>
  </div>
  <br>
  <div class="container">
    <app-dependent></app-dependent>
  </div>
  <br>
</div>

