<div class="header-top">
  <div class="row">
    <div class="col-lg-10">
      <h5>HỘ CHIẾU</h5>
    </div>
    <div class="col-lg-2 btnSave">
      <label class="btn-primary" (click)="showDialog()"><i class="fas fa-pencil-alt"></i> Chỉnh sửa</label>
    </div>
  </div>
</div>
<div *ngIf="(!loadData)">
  <div class="ibox-content ">
    <div class="row first-element">
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal row col-lg-4">Số hộ chiếu:</label>
          <label class="row col-lg-8 font-label"> {{employeePassport.passport}} </label>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal row col-lg-4">Ngày cấp:</label>
          <label class="row col-lg-8 font-label"> {{employeePassport.passport_start_date}} </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal row col-lg-4">Ngày hết hạn:</label>
          <label class="row col-lg-8 font-label"> {{employeePassport.passport_end_date}} </label>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="font-normal row col-lg-4">Nơi cấp:</label>
          <label class="row col-lg-8 font-label"> {{employeePassport.passport_issued}} </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row image-size">
          <label class="font-normal row col-lg-4" style="padding-left: 0px;">Mặt trước:</label>
          <img [src]="frontImageLoad" class="img-thumbnail show-image-uploaded" alt="front">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row form-group image-size">
          <label class="font-normal row col-lg-4" style="padding-left: 0px;">Mặt sau:</label>
          <img [src]="backImageLoad" class="img-thumbnail show-image-uploaded" alt="back">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- dialog -->
<nz-modal [(nzVisible)]="display" nzTitle="CẬP NHẬT HỘ CHIẾU" (nzOnCancel)="closeDialog()" [nzWidth]="478">
  <ng-container *nzModalContent>
    <div class="modal-spinner" *ngIf="loading$ | async">
      <app-loading></app-loading>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="font-normal">Số hộ chiếu</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập số hộ chiếu"
                class="form-control placeholder-color"
                [(ngModel)]="employeePassportUpdate.passport"
                [ngModelOptions]="{standalone: true}"
              />
            </div>
          </div>
              <div class="column form-group" [style]="{'margin-bottom': '10px'}">
                <div>
                  <label class="font-normal">Ngày cấp hộ chiếu</label>
                </div>
                <div class="ui-grid-col-12">
                  <nz-date-picker
                    [(ngModel)]="passportStartDate"
                    (ngModelChange)="onSelectedStartDateUpdate($event)"
                    placeholder="01/01/2000"
                    appendTo="body"></nz-date-picker>
                </div>
              </div>
              <div class="column form-group" [style]="{'margin-bottom': '10px'}">
                <div>
                  <label class="font-normal">Ngày hết hạn</label>
                </div>
                <div class="ui-grid-col-12">
                  <nz-date-picker
                    [(ngModel)]="passportEndDate"
                    (ngModelChange)="onSelectedEndDateUpdate($event)"
                    placeholder="01/01/2000"
                    appendTo="body"></nz-date-picker>
                </div>
              </div>
          <div class="form-group">
            <label class="font-normal">Nơi cấp hộ chiếu</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="Nhập nơi cấp hộ chiếu"
                class="form-control placeholder-color"
                [(ngModel)]="employeePassportUpdate.passport_issued"
                [ngModelOptions]="{standalone: true}"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                  <label class="font-normal">Mặt trước:</label>
                  <input
                    style="display:none"
                    type="file"
                    (change)="onSelectedFrontImage($event)"
                    class="form-control"
                    #frontFile
                  />
                  <button type="button" (click)="frontFile.click()" class="image-upload-wrap">
                    <img *ngIf="frontUrl" [src]="frontUrl" class="show-image-upload">
                    <div class="centered" *ngIf="!frontUrl">Nhấn vào đây để chọn ảnh</div>
                  </button>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="font-normal">Mặt sau:</label>
                <input
                  style="display:none"
                  type="file"
                  (change)="onSelectedBackImage($event)"
                  class="form-control"
                  #backFile
                />
                <button type="button" (click)="backFile.click()" class="image-upload-wrap">
                  <img *ngIf="backUrl" [src]="backUrl" class="show-image-upload">
                  <div class="centered" *ngIf="!backUrl">Nhấn vào đây để chọn ảnh</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn min-w-100" (click)="closeDialog()">Hủy</label>
        <label class="btn btn-primary min-w-100" (click)="onUpdate()" >Lưu thay đổi</label>
    </div>
    </div>
  </ng-container>

</nz-modal>

<!-- loading data -->
<ng-template #loading>
  <div class="get-spinner">
    <app-loading></app-loading>
  </div>
</ng-template>
