<h1>Đăng Nhập</h1>
<span>Nhập email đã đăng ký để đăng nhập </span>
<form class="login-form" >
  <div class="iput">
        <label for="">Email/ Số điện thoại <strong class="red-star">*</strong></label> <br>
        <input class="placeholder-color" type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Nhập email/số điện thoại">
  </div>
  <div class="iput">
    <label for="">Mật khẩu <strong class="red-star">*</strong></label><br>
    <input class="placeholder-color" [type]="showPass ? 'text' : 'password'"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Nhập vào mật khẩu">
  </div>
  <div class="iput">
      <label class="float-left"><a class="a-color" [routerLink]="['/core/frontend/auth/signup']"> Đăng ký</a></label>
      <label class="float-right"><a class="a-color" [routerLink]="['/core/frontend/auth/forgotpassword']"> Quên mật khẩu?</a></label>
  </div>
  <button class="show-password" (click)="showPassword()"><i [class]="showEye ? 'far fa-eye-slash' : 'far fa-eye'"></i></button>
  <!-- <button class="show-password"><i class="far fa-eye"></i></button> -->
  <button class="login-button button-login" (click)="onClick()">ĐĂNG NHẬP</button>
</form>


<!-- <hr> -->
<label class="label-login">Login with</label>
<div class="group-login">
    <button class="btn btn-link btn-sm"><img src="/assets/images/linkedin.png" alt=""></button>
    <button class="btn btn-link btn-sm" (click)="loginWithFacebook()"><img src="/assets/images/facebook.png" alt=""></button>
    <button class="btn btn-link btn-sm" (click)="signInWithApple()"><img src="/assets/images/apple.png" alt=""></button>
    <button class="btn btn-link btn-sm" (click)="loginWithGoogle()"><img src="/assets/images/Google.png" alt=""></button>
</div>


<!-- dialog activate account -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="activatedDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <p class="p-confirmation">Tài khoản chưa được kích hoạt. Kích hoạt ngay?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn btn-cancel min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="moveToActivate()" >Xác nhận</label>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- dialog registe account -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="registedDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <p class="p-confirmation">Tài khoản chưa được đăng ký. Đăng ký ngay?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn btn-cancel min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="moveToRegister()" >Xác nhận</label>
      </div>
    </div>
  </ng-container>
</nz-modal>

<!-- dialog link account -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="linkedDisplay" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <p class="p-confirmation">Tài khoản chưa được liên kết. Liên kết ngay?</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn btn-cancel min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="linkAccount()" >Xác nhận</label>
    </div>
    </div>
  </ng-container>

</nz-modal>

<!-- dialog go to register work place -->
<nz-modal (nzOnCancel)="closeDialog()" [(nzVisible)]="regisWorkPlace" nzTitle="THÔNG BÁO" [nzWidth]="478">
  <ng-container *nzModalContent>
    <p class="p-confirmation">Tài khoản chưa đăng ký nơi làm việc. Đăng ký ngay.</p>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class=" form-group">
      <div class="group-button">
        <label class="btn btn-cancel min-w-100" (click)="closeDialog()">Hủy </label>
        <label class="btn btn-primary min-w-100" (click)="moveToRegisWorkPlace()" >Xác nhận</label>
    </div>
    </div>
  </ng-container>

</nz-modal>
