
h1{
  position: absolute;
  text-align: center;
  width: 300px;
  height: 48.91px;
  left: 10%;
  top: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 47px;
  color: #34499D;

}
span{
    position: absolute;
    text-align: center;
    width: 80%;
    height: 16.65px;
    left: 10%;
    top: 13%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #5F5F5F;
}

hr{
    position: relative;
    width: 94%;
    height: 0px;
    left: 3%;
    top: 80%;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

label.label-login {
    left: 41%;
    position: relative;
    top: 82%;
    color: #34499D;
    background: #fff;
}

label.label-login::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: rgba(0, 0, 0, 0.25);;
    left: 115%;
    top: 50%;
    position: absolute;
}

label.label-login::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: rgba(0, 0, 0, 0.25);;
  right: 115%;
  top: 50%;
  position: absolute;
}

.login-form{
    position: absolute;
    width: 80%;
    height: 296.59px;
    left: 10%;
    top: 26%;
    .iput{
        padding-bottom: 24px;
        label{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 16px;
            color: #666666;

        }
        input{
            height: 36px;
            border: none;
            width: 100%;
            border-bottom: 0.5px solid rgba(38, 50, 56, 0.5);
            background: rgb(245 245 245 / 0%);
            outline: none;

        }
        .float-right{
            float: right;
        }
    }
}

.group-login{
    position: absolute;
    width: 60%;
    height: 35.64px;
    left: 25%;
    top: 88%;

    a{
      margin-right: 30px;
      color: #fff !important;
      img{
          height: 30px;
      }
    }

}

.button-login{
  height: 46px;
  border: none;
  color: #FFF;
  width: 100%;
  background: linear-gradient(90deg, rgba(52, 73, 157, 1) -4.47%, rgba(58, 184, 254, 1) 98.02%);
  border-radius: 25px;
  &:hover{
      background:#0E5EF2 ;
      color: rgb(0, 0, 0);
  }
}

.show-password{
  position: relative;
  top: -35%;
  left: 88%;
  background-color: #fff;
  border: none;
  outline: none;
}

.a-color{
  color: #34499D;
  font-weight: 300;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 16.41px;
}

.login-button{
  margin-top: 50px;
  height: 39.32px !important;
}

em {
  float: right;
  color: #E05C65;
  padding-left: 10px;
}

.btn-primary {
  color: #fff !important;
  text-align: center !important;
  background-color: #34499d;
  border-color: #34499d;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 5px;
  border-radius: 3px !important;
  box-shadow: none;
  line-height: 1.2rem;
  float:right;
}

.btn-cancel {
  color: #333 !important;
  text-align: center !important;
  background-color: #fff;
  border-color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 5px;
  border-radius: 3px !important;
  box-shadow: none;
  line-height: 1.2rem;
  float:right;
}

