<div class="heading">
    <div class="bc">
      <div class="heading-left">
        <h2 class="h2-text">Nhân viên</h2>
      </div>
      <div class="heading-right">
        <input class="search-heaing placeholder-color" placeholder="Từ khóa tìm kiếm" [(ngModel)]="searchText" (input)="textChange($event)">
        <a class="btn btn-primary btn-search" [routerLink]="['/hr/company/employee/main']" [queryParams]="{ text: searchText}">Tìm kiếm</a>
      </div>
    </div>
    <div class="bc">
      <div class="heading-left">
        <button class="btn btn-primary btn-w-m">Tạo mới</button>
      </div>
      <div class="heading-right">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
              <li class="page-item"><a class="page-link" href="/hr/company/employee/main">1</a></li>
              <li class="page-item"><a class="page-link" href="/hr/company/employee/main?page=2">2</a></li>
              <li class="page-item"><a class="page-link" href="/hr/company/employee/main?page=3">3</a></li>
              <li class="page-item" style="padding-right: 10px;"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
              <li class="page-item" style="padding-right: 10px;">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Hiển thị">
                  <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                  <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                </nz-select>
              </li>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="list-btn"><i class="fas fa-list"></i></button>
                <button class="list-btn"><i class="fas fa-th"></i></button>
              </div>
            </ul>
          </nav>
      </div>
    </div>
</div>

