.heading{
  background-color: #fff !important;
  width: 100%;
}

.h2-text{
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 100;
}

.btn-w-m{
  color: #fff;
  min-width: 120px;
  height: 29px;
  background-color: #34499d;
  border-color: #34499d;
  border-radius: 3px;
  font-size: .8rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.heading-right{
  display: flex;
}

.search-heaing{
  margin-left: 25px;
  height: 31px;
  max-width: 189px;
  border: 1px solid #e5e6e7;
}

.btn-search{
  height: 30px;
  width: 90px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link{
  color: #333 !important;
  height: 33px;
}

.btn-secondary{
  max-width: 39px;
  height: 33px;
  text-align: center;

}

.bc{
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  height: 35px;
  width: 97%;
  margin-left: 25px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

nz-select{
  height: 32px !important;
  width: 106px;
}

.list-btn{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 33.5px;
  border: 1px solid #dee2e6;
}
