.header-top{
  border-bottom: 0.5px solid rgb(209, 206, 206);
    padding-bottom: 10px;
    h5{
      display: inline-block;
      font-size: 14px;
      margin: 0 0 7px;
      padding: 0;
      text-overflow: ellipsis;
      float: none;
      // font-family: inherit;
      color: #6A6D6F;
  }
}
.first-element{
  padding-top: 10px;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.btn{
  font-size: 14px;
  font-weight: 400;
  padding:4px;
  float:none;
}
.group-button{
  text-align: center;
}
.form-group{
  margin-bottom: 1rem;
}


