.btn-add {
    color           : #fff !important;
    background-color: #34499d;
    border-color    : hsl(228, 50%, 41%);
    border-radius   : 3px;
    margin-right    : 6px;
}

.btn-add:hover {
    background-color: #0596F3;
    border-color    : #0596F3;
    color           : #FFFFFF;
}


.btn-delete {
    border-radius   : 3px;
    color           : #fff;
    background-color: #ed5565;
    border-color    : #ed5565;
}

.btn-cancel{
    color: black;
    background: white;
    border: 1px solid #e7eaec;
}