.avatar-img{
  border: none;
  border-radius: 50%;
  object-fit: contain;
}

.avatar-div{
  display: flex;
  align-items: center;
}

p{
  margin-bottom: 3px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #676a6c;
  display: table;
}

.margin-column{
  padding: 20px;
  width: 100%;
}

.container{
  margin-bottom: 20px;
  margin-right: 15px;
  width: 450px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  display: table;
}

strong{
  color: #676a6c;
}

.card-item{
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
}
