
<button class="container card-item" (click)="moveToInfo()">
  <div class="row margin-column">
    <div class="col-lg-4 avatar-div">
      <img src="../../../../../assets/images/avatar.jpg" class="img-thumbnail avatar-img" alt="back">
    </div>
    <div class="col-lg-8">
      <div class="column">
        <h3><strong>{{ employee_unit.name }}</strong></h3>
        <p>{{ employee_unit.num }}</p>
        <p><strong>{{ employee_unit.category_name }}</strong></p>
        <div>
          <p class=""><i class="fas fa-map-marker-alt"></i>  {{ employee_unit.current_address }}</p>
        </div>
        <div>
          <p class=""><i class="fas fa-phone-alt"></i>  {{ employee_unit.phone }}</p>
        </div>
        <div>
          <p class=""><i class="far fa-envelope-open"></i>  abc@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</button>
