<div class="heading">
    <div class="row">
        <div class="col-lg-12 page-heading">
            <h2>Thông tin nhân viên</h2>
            <nz-breadcrumb>
              <nz-breadcrumb-item><a [routerLink]="['/hr/company/employee/main']">Nhân viên</a></nz-breadcrumb-item>
              <nz-breadcrumb-item><a>Thông tin</a></nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
    </div>

</div>
