.page-heading{
    display: block;
    flex-basis: 100%;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 22px;
    text-align: left;

    box-sizing: border-box;
    h2 {
        color: #676a6c !important;
        font-weight: 100;
        font-size: 24px;
        margin-bottom: 10px ;
    }


}

.heading{
    background-color: #ffffff !important;
    border-bottom: 1px solid #e7eaec;
}

:host {
    ::ng-deep
    .bc {
        font-size: 13px;
        border: none;
        padding:0;
    }
}
