
.nav-bar {
    background-color: #34499d;
    height: 43px;

       ul
       {
           display: inline-block;
           li
           {
            display: inline;
                a
                {
                    color: #fff;
                    cursor: pointer;
                    padding: 15px 20px;
                    text-decoration: none;
                    font-size: 13px;
                    &:hover {
                        background-color: #D9F1FD;
                        color: #34499d;
                    }

                }

           }

       }


}

.nav-bar-brand {
    padding: 7px 15px;
    font-size: 18px;
    line-height: 22px;
    margin-right: 0;
    img {
       height: 20px;
    }
}


span {
    color: #FFF;
}

.nav-right  {
    margin-top: 0px;
    float: right;
    margin-bottom: 5px !important;
}

ul.nav-left {
    margin-left: -38px;
    padding-top: 3px;
    /* margin-top: -1px; */
}

.title {
    font: {
        size: 20px !important;
        weight:400;
    }
}



.badge-notification{
    position:relative;

}

.badge-notification[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:5px;
    right:0px;
    font-size:10px;
    font-weight: 700;
    background:#34499d;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;

    box-shadow:0 0 1px #333;
 }


 .badge{
    position:relative;

}

.badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:8px;
    right:0px;
    font-size:10px;
    font-weight: 700;
    background:#f8ac59 ;
    color:white;
    width:22px;
    height:18px;
    text-align:center;
    line-height:18px;
    border-radius:2.5px;
    padding: 0px 5px;

    box-shadow:0 0 1px #333;
 }
 .en::before {
    margin-right: 2px;
}
