<div class="nav-bar">
    <a href="" class="nav-bar-brand"><img src="/assets/images/logo.png" alt=""></a>
    <ul class="nav-left">
        <li><a class="title" href="">Nhân viên</a></li>
        <li><a href="">Nhân viên</a></li>
        <li><a href="">Phòng ban</a></li>
        <li>
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                Thiết lập
                <i class="pi pi-caret-down" style="font-size: 10px;"></i>
            </a>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>1st menu item</li>
                    <li nz-menu-item>2nd menu item</li>
                </ul>
            </nz-dropdown-menu>

        </li>

    </ul>
    <ul class="nav-right">
        <span>Xin chào Admin</span>
        <li><a href="" class="badge" data-badge="27"> <i class="pi pi-envelope en" style="font-size: 13px;"></i></a></li>
        <li>
            <a  class="badge-notification" data-badge="27"><i class="pi pi-bell " style="font-size: 13px;"></i></a>
        </li>
        <li><a (click)="logout()"><i class="pi pi-sign-out"></i> Thoát</a></li>
    </ul>

</div>
