<div class="menu-left">
    <div class="menu-content">
        <ul class="list-group">
            <li class="list-group-item first-item">
                <a [routerLink]="['info']" (click)="Active('info')" [style]="info"><i class="far fa-address-book text-padding"></i> Thông tin cá nhân</a>
            </li>
            <li class="list-group-item">
                <a  [routerLink]="['contact']" (click)="Active('contact')" [style]="contact"><i class="fas fa-map-marker-alt text-padding"></i> Gia đình & liên hệ</a>
            </li>
            <li class="list-group-item">
                <a [routerLink]="['resume']" (click)="Active('resume')" [style]="resume"><i class="far fa-paper-plane text-padding"></i> Hồ sơ làm việc</a>
            </li>

        </ul>

    </div>

</div>


