.menu-left {
    height: 100%;
    // margin-right: 10px;
    // width: 180px;
    // margin: 0px;
    .menu-content{
        height: 100%;
        // padding: 10px;
        width: 115%;
        text-align: left;
        background-color: #f9f9fa;
        border: 10px solid #ffffff;
        border-bottom: none !important;
        border-right: none !important;
        padding-left:10px;

    }

}

a {
    background-color: #f9f9fa;
    color:#666666 !important;
    font-size: 13px;
    border-bottom: 0.5px solid rgb(209, 206, 206);
    display: block;
    width: 90%;
    padding-bottom: 10px;
}
.fa{
    margin-right: 2px;
}

.onWorking:focus{
  font-weight: bold;
}
.list-group-item {
  position: relative;
  padding: 0.5rem 0rem;
  text-decoration: none;
  background-color: #f9f9fa;
  border:none;
}
