<div class="footer">
  <div class="content">
    <div class="footer-left">
      <div class="brand">
        <img src="/assets/images/company-brand.png" alt="">
      </div>
      <div class="nav">
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Accessbility</a></li>
          <li><a href="">User Agreement</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Cookie Policy</a></li>
          <li><a href="">Coppyright Policy</a></li>
        </ul>
      </div>

      <div class="code">
        <img src="/assets/images/code-img.png" alt="">
      </div>
      <div class="group-brand">
        <img src="/assets/images/Group.png" alt="">
      </div>

    </div>
  </div>

</div>
