.footer {
    width: 100%;
    top: 695px;
    background: #ffffff;
    .content {
        max-width: 100%;
        .footer-left {
            position   : relative;
            left: 5%;
            justify-items: center;

            .code {
                float: left;
                position: relative;
                width: 61px;
                height: 60px;
                left: 15%;
                img {
                    height: 57px;
                }
            }

            .group-brand {
                float: left;
                position: relative;
                width: 75px;
                height: 60px;
                left: 16%;
                img {
                    height: 57px;
                }
            }

            .brand {
                float: left;
                width: 100px;
                height: 34.78px;
                position: relative;
                left: 11.5%;
                top: 20px;
                img {
                    height: 34.78px;
                }
            }

            .nav {
                text-align: center;
                float: left;
                position: relative;
                left: 11%;
                top: 35px;

                ul {
                    display: inline-block;
                    li {
                        display      : inline;
                        padding-right: 16px;

                        a {
                            font-family   : Segoe UI;
                            font-style    : normal;
                            font-weight   : 350;
                            font-size     : 14px;
                            line-height   : 16px;
                            letter-spacing: 0.04em;

                            color: #3C3C3C;
                        }
                    }
                }
            }
        }
    }
}
