<div class="content">
  <h1>Thông tin nơi làm việc</h1>
  <span>Điền thông tin nơi bạn đang làm</span>
  <div class="register-workplace-form">
      <div class="iput" >
          <label for="">Tên nơi làm việc</label> <br>
          <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="placeholder-color" type="text" placeholder="Nhập nơi làm việc">
      </div>
      <div class="iput" >
        <label for="">Địa chỉ <strong class="red-star">*</strong></label> <br>
        <input [(ngModel)]="address" [ngModelOptions]="{standalone: true}" class="placeholder-color" type="text" placeholder="Nhập địa chỉ">
      </div>
      <div class="iput" >
        <label for="">Tên truy cập <strong class="red-star">*</strong></label> <br>
        <input [(ngModel)]="url" [ngModelOptions]="{standalone: true}" class="placeholder-color" type="text" placeholder="Nhập tên truy cập">
      </div>

  </div>
  <button class="next-btn" (click)="onRegis()">Lưu thông tin</button>
</div>
